[2019-10-18 09:30] diemol opened #7 "Add link to go back to main Selenium site inside the docs"
When someone clicks on the `documentation` link, there is no link to go back to the main Selenium website from there, which just makes the user type the URL in the address bar again.

[2019-10-18 09:30] diemol opened #8 "Fix broken links"
Thanks to @barancev, we have a report with broken links https://codepen.io/barancev/full/ZEEpREj.
We should go through it and fix them.

[2019-10-21 06:32] boris779 commented on #8
If you like I can assist you. split it up or assign me some of the pages.

[2019-10-22 00:10] boris779 commented on #7
Hope that fits your idea to solve this issue

[2019-10-22 14:33] boris779 commented on #8
I took a look into the report, but I cannot find any broken links from that report.

e.g. the links from about page to the history are all valid.

These reported links do not exist. The existing links are valid.
`
https://seleniumhq.github.io/site/about/
	https://seleniumhq.github.io/history
	  \_____ error code: 404 (not found)
	https://seleniumhq.github.io/ecosystem
	  \_____ error code: 404 (no

[2019-10-22 18:03] barancev commented on #8
It's quite possible that the site was updated, I'll create a new report and attach it here.

[2019-10-23 11:41] imba-tjd opened #13 "Text in menu list item can't be seen"
Click the `About` on https://seleniumhq.github.io/site/

![图片](https://user-images.githubusercontent.com/24759802/67389235-c7755600-f5cc-11e9-94b8-0ad4073e6347.png)

[2019-10-26 09:04] 0420syj opened #19 "Add new language on site (Korean)"
Hello. I am a university student in Korea. First of all, thank you for your wonderful project and documentation.
I've recently learned about crawler including this for team project, and my friends and I were really impressed by your documentation. And I would like to add Korean to your document. Because there'are lot of people who are interested in crawler this could help more Korean developer to

[2019-10-26 21:48] diemol commented on #8
Yes, I think I fixed all those broken links. We can reopen this in case someone finds more.

[2019-10-26 21:48] #8 closed

[2019-10-26 21:52] #7 closed

[2019-10-26 21:55] diemol opened #22 "Add contribution guidelines and instructions"

[2019-10-26 21:55] diemol opened #23 "Add issue/pr GitHub templates"

[2019-11-05 21:35] diemol opened #63 "Merge Selenium IDE docs into new site"
@corevo do you have time to give us a hand on this?
Or perhaps thoughts on how to proceed and I can start with this?

[2019-11-06 17:01] diemol opened #64 "Update "Remote WebDriver client" docs content"
It is still referring to `DesiredCapabilities`
https://selenium.dev/documentation/en/remote_webdriver/remote_webdriver_client/

[2019-11-07 18:10] #22 closed

[2019-11-07 18:23] diemol commented on #19
Hi @0420syj @lionking6792

Thank you for offering to translate our documentation to Korean 🙌 🎉

Have a look at the contributing guidelines [here](https://selenium.dev/documentation/en/contributing/). If you need any help, please let us know.

[2019-11-07 21:26] #13 closed

[2019-11-08 03:52] lionking6792 commented on #19
Hi! @diemol

Thanks for your comment and advice.
I'll PR Korean version of docs as soon as possible!

Thanks :)

[2019-11-08 23:39] #23 closed

[2019-11-10 21:56] diemol commented on #63
Fixed by @corevo https://selenium.dev/selenium-ide/
Temporary solution until the IDE docs are moved to Hugo.

[2019-11-10 21:56] #63 closed

[2019-11-14 07:38] diemol commented on #19
Fixed via #68, thanks @0420syj

[2019-11-14 07:38] #19 closed

[2019-11-17 16:19] palotas opened #73 "CSS issue on https://selenium.dev/downloads/ when in responsive mode"
Chrome 78
Go to: https://selenium.dev/downloads/
Resize the browser to trigger responsive mode

Result: CSS issue, see screenshot
![image](https://user-images.githubusercontent.com/1610801/69010238-21640400-095e-11ea-8e56-9a066def06b1.png)

## 🐛 Bug Report

Did you find something wrong with the site or the documentation? Please describe
your finding in a clear and concise way.

## To Reproduce

Ho

[2019-11-18 09:12] #73 closed

[2019-11-18 10:53] #64 closed

[2019-11-19 18:18] bradjones1 opened #81 "Brand guide/logos resource page"
## 🚀 Feature Proposal for the site or the documentation

Add a section on the documentation/`selenium.dev` site for a brand guide/logo resources

## Motivation

I was looking for updated logo resources (similar to the question at https://github.com/SeleniumHQ/selenium/issues/1063) for Selenium and could not find them.

## Example

Other projects such as [Drupal](https://www.drupal.org/about/media-

[2019-11-22 19:20] diemol commented on #81
Hey @bradjones1,

Thanks for raising this. To be honest, we didn't think about that yet, but we are working in a set of guidelines for the site and documentation and we should have something soon, based on that we can include a brand guide as well. Stay tuned please.

[2019-11-27 02:08] Ravichandran-S opened #95 "Getting black screenshot for internet driver server version 3.14 when executed under node URL (Jenkins)"
Hi Team,
I have upgraded selenium-java version to 3.141.59. IE driver version is 3.14.
I can see Black screenshot and timeout exception occurred under Jenkins.
I have initiated driver before suite and quited after suite.
Time taken to execute 54 test cases is 2.5hrs

[2019-11-27 10:20] diemol commented on #95
This is a question rather than an issue. Please send questions to the [selenium user group](https://groups.google.com/forum/#!forum/selenium-users), to [StackOverflow](https://stackoverflow.com/questions/tagged/selenium), check more communication channels at https://selenium.dev/support/.

[2019-11-27 10:20] #95 closed

[2019-12-05 03:05] NelsonPython opened #115 "SearchContext link broken on Locating elements documentation pag"
## 🐛 Bug Report
A link is broken in the documentation

## To Reproduce
Click this link:
https://selenium.dev/selenium/docs/api/java/org/openqa/selenium/SearchContext.html%3ESearchContext

Or you can navigate to the Locating elements page (link below) and find this sentence, then click the SearchContext link:
You can do this because both the WebDriver and WebElement types implement the SearchContex

[2019-12-05 07:52] Harsha509 commented on #115
Hi @NelsonPython,

Thanks for reporting the issue. This will be resolved with commit https://github.com/SeleniumHQ/seleniumhq.github.io/pull/116

Happy Testing!

[2019-12-05 10:36] #115 closed

[2019-12-05 17:29] shannonpearson opened #119 "Search form does not work"
<img width="541" alt="Screen Shot 2019-12-05 at 12 30 33 PM" src="https://user-images.githubusercontent.com/23521216/70258921-1fba7e80-175b-11ea-82b3-2e6310ca5001.png">
<img width="716" alt="Screen Shot 2019-12-05 at 12 30 48 PM" src="https://user-images.githubusercontent.com/23521216/70258928-22b56f00-175b-11ea-82c5-294079dea74b.png">

## 🐛 Bug Report

Did you find something wrong with the site o

[2019-12-06 14:09] bongosway commented on #119
@shannonpearson don't think this is a defect. It looks like the default way Lunrjs works.
Looking through the JS, this is implemented as AutoComplete so it simply searches on the visible text on the page and highlights any matches found and was not intended to render an actual page with search results.

I might be wrong and stand to be corrected.

[2019-12-06 20:26] diemol commented on #119
Good catch @shannonpearson, it seems there is an issue for multilingual sites in the Hugo theme we use, https://github.com/matcornic/hugo-theme-learn/issues/274, I never saw it because I tried it when it was only in English.

I will try to have a look during the holidays and see how we can help the Hugo theme so multilingual search works.

[2019-12-13 09:18] fastrde opened #131 "Wrong SSL Certificate at www.selenium.dev"
## 🐛 Bug Report

The SSL certificate shown at **www**.selenium.dev has the common name www.github.com and is not valid for www.selenium.dev

## To Reproduce

Click on [https://www.selenium.dev](https://www.selenium.dev)

## Expected behavior

That the Certificate is valid for the domain https://www.selenium.dev

[2019-12-15 21:04] diemol commented on #131
Thanks for reporting this @fastrde, we will have a look.

[2019-12-17 09:57] roversochi opened #140 "Program.Browser.Quit() - freeze application"
I installed webdriver version 4 into my visualStudio today.
I launched the application as usual. It does this:

.................
             Program.Browser = new ChromeDriver (options);
             Program.Browser.Manage(). Timeouts(). ImplicitWait = TimeSpan.FromMilliseconds(500); // timeout for searching for items
             Program.Browser.Manage(). Window.Maximize();
.................

T

[2019-12-17 09:58] corevo commented on #140
[This](https://github.com/SeleniumHQ/selenium) is the correct place for code related issues.

[2019-12-17 09:59] corevo commented on #140
This repo is for the website, not WebDriver.

[2019-12-17 10:11] roversochi commented on #140
sorry, thank you

[2019-12-17 10:11] #140 closed

[2019-12-22 12:32] urig opened #146 "Broken markdown in "Waits" documentation page in Spanish"
## 🐛 Bug Report

Browsed to the documentation page about "Waits" in Spanish (es) and there's content intermingled with markdown code showing in the HTML. Reading the content is uncomfortable.

## To Reproduce

1. Navigate your browser (I used Firefox on Win10) to https://selenium.dev/documentation/es/webdriver/waits/
2. Scroll down to the sentence starting with:

3. Observe markdown intermingled w

[2019-12-23 02:43] #146 closed

[2019-12-23 21:45] Jax05 opened #151 "Blank subsection documentation"
## 🐛 Bug Report

The following documentation subsections have no written content:

* HTTP Proxies
* Page loading strategy
* Working with web elements

## To Reproduce

[https://selenium.dev/documentation/en/webdriver/http_proxies/](url)
[https://selenium.dev/documentation/en/webdriver/page_loading_strategy/](url)
[https://selenium.dev/documentation/en/support_packages/working_with_web_elements/](u

[2019-12-24 13:48] manoj9788 commented on #151
@Jax05 Thanks for raising this issue, most of our documentation are in WIP(Work In Progress) mode. So those are expected, please feel free to write content and raise a PR - would be happy to look at it!

[2019-12-24 22:43] Jax05 commented on #151
@manoj9788 that explains it! Thanks for your reply.

[2020-01-04 20:29] agitkaplan opened #162 "Documentation, Installing Standalone server"
## 🐛 Bug Report

Hi,

I think this page gives a bit confusion: https://selenium.dev/documentation/en/selenium_installation/installing_standalone_server/

It says "The selenium-server-standalone jar is never uploaded, but all the components are available via selenium-server." but i think first link in download page (https://selenium.dev/downloads/ ) which is about Selenium Server (Grid) is standalo

[2020-01-09 17:23] danielcompton opened #170 "Redirect old links from exceptions to new targets on page"
## 🚀 Feature Proposal for the site or the documentation

Exceptions from Selenium 3.141.59 show up like:

[code]

If you open that link to https://www.seleniumhq.org/exceptions/no_such_element.html it redirects to the exceptions page https://selenium.dev/exceptions/. It would be nice if it redirected to https://selenium.dev/exceptions/#no_such_element so that the exact exception that was thrown is

[2020-01-10 03:37] diemol commented on #162
Fixed in the referenced commit

[2020-01-10 03:37] #162 closed

[2020-01-10 04:00] Harsha509 commented on #170
Hi @danielcompton ,

Thanks for the inputs. THis is fixed in selenium with commit https://github.com/SeleniumHQ/selenium/commit/07ee491572f88790e598042ae779c44d3c1b3015

Will be available in next release maybe.

Thanks,
Sri Harsha

[2020-01-10 04:01] Harsha509 commented on #170
Hi @diemol . This can be closed now i think.

[2020-01-10 04:29] diemol commented on #170
Yep @Harsha509, thank you.

[2020-01-10 04:29] #170 closed

[2020-01-10 04:50] danielcompton commented on #170
Hi folks, this issue is about setting up website redirects. I don’t think it is fixed?

[2020-01-10 04:55] diemol commented on #170
Well, ideally it could be redirected, but we did not have enough bandwidth when the new site was released and the complexity the old one had, so we opted for the easiest and quickest solution, which was to redirect to the whole page. Considering that there are only 3 exceptions mentioned there, we felt that it was enough since it is not an endless amount of text the user has to navigate through.
A

[2020-01-27 16:21] marksnelson09 opened #189 "Remove deprecated Selenium class from Documentation code examples"
## 🐛 Bug Report
The Selenium class is used in the Documentation code example on the
'Guidelines > Page object models' page and possibly elsewhere. This was confusing, since I don't recall it being explained or referenced in the Documentation flow prior to this page. Then, I found in the API that the class is deprecated, which explained why it's usage isn't explained.

References to the Selenium cl

[2020-01-27 19:47] diemol commented on #189
Thanks for raising this @marksnelson09, would you like to give us a hand and send a PR fixing the code samples?

[2020-01-28 11:31] yingyingshang opened #190 "Is page loading strategy should be displayed as a link without any content?"
## 💬 Questions and Help

###  Could you help to confirm if the page should be displayed as this? I was thinking it may have more descriptions.
![image](https://user-images.githubusercontent.com/52477678/73260354-b1e37e00-4204-11ea-876a-8c8631b8fe6c.png)

[2020-01-28 11:32] #190 closed

[2020-01-28 14:42] Harsha509 commented on #190
hi @yingyingshang,

most of our documentation is in Work in Progress mode. Please feel free to write content and raise a PR.

Thanks,
Harsha

[2020-01-28 21:53] marksnelson09 commented on #189
I'm brand new to Selenium, and this is my first time using with GitHub. Perhaps, if I grow comfortable with my understanding of Selenium, I can come back around to figure out what the code examples should be.

[2020-01-29 06:59] mister-prog commented on #131
Hello! Now is already the 29th of January 2020, but selenium.dev and selenium.org still out of service. What's happened and what to do?
![image](https://user-images.githubusercontent.com/31521586/73334519-f9f2b700-427d-11ea-901d-76b07fb247d0.png)

[2020-01-29 07:18] barancev commented on #131
@mister-prog Your issue is not related to certificates, and I can't confirm it.

You can use this service to check if site is down or it's your local misconfiguration: https://downforeveryoneorjustme.com/selenium.dev

[2020-01-30 16:16] GZLHZ opened #196 "EdgeNameNotMatch"
![image](https://user-images.githubusercontent.com/45257277/73466312-a935a800-43bc-11ea-967a-9978dd71b23f.png)

hello,I download the python code by pip3 and then i found that the .exe name is not the same as the file download on the microsoft which named as msedgedriver.exe

So it's different from Chrome And FireFox, they are the same name.

Rename the .exe file can solve the problem.
But I think

[2020-01-30 16:17] #196 closed

[2020-01-30 16:19] GZLHZ opened #197 "EdgeDriver name doesn't match"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/45257277/73468164-50b3da00-43bf-11ea-89dc-53c017d4cf89.png)

hello,I download the python code by pip3 and then i found that the .exe name is not the same as the file download on the microsoft which named as msedgedriver.exe

So it's different from Chrome And FireFox, they are the same name.

Rename the .exe file can solve the prob

[2020-01-30 18:32] diemol commented on #189
@marksnelson09 why don't you have a look to https://selenium.dev/documentation/en/contributing/? There are clear instructions on how to get started and send us contributions.

[2020-02-03 04:51] diemol commented on #197
@GZLHZ could you please post this on https://github.com/SeleniumHQ/selenium/issues/new/choose and filling out the complete template please?

[2020-02-03 04:51] #197 closed

[2020-02-03 05:10] GZLHZ commented on #197
@diemol   hello, I just suggested changing a name.😂  what do you want to know else? I will explain more clearly.
![image](https://user-images.githubusercontent.com/45257277/73626849-66f2bc00-4685-11ea-8a25-a52464e3c9de.png)

[2020-02-13 12:37] #189 closed

[2020-02-18 13:29] boris779 opened #237 "Types of Testing page (content)"
## 🐛 Bug Report

While translating the documentation from English to German, I think that the Types of Testing Page needs a update. Concrete I think that the description for acceptance testing and functionial testion are too similar and it is not clear what the difference is (verification vs. validation)

## To Reproduce

https://selenium.dev/documentation/en/introduction/types_of_testing/

If you

[2020-02-19 10:05] diemol commented on #237
@boris779, good point.
We would be grateful if you want to give us a hand by proposing something new in those sections 🙌

About the existing translations, we can just reset the section back to English and put the let the readers know that we need help with the new translation.

[2020-02-19 11:22] boris779 commented on #237
Ok. I will work on a proposal for that section.

[2020-02-19 14:57] diemol commented on #131
Thank you for reporting, after a bit of Googling, this was the solution
https://github.com/SeleniumHQ/seleniumhq.github.io/commit/ac73472099a26fa21222940b3fa733eb2b787102

[2020-02-19 14:57] #131 closed

[2020-02-23 18:05] diemol commented on #151
Page loading strategy has content and Working with web elements has been removed due to a duplication of content, thanks to @Harsha509 for tacking this!

[2020-02-28 13:51] p2635 opened #269 "RSS feed for the blog"
## 🚀 Feature Proposal for the site or the documentation

RSS feed for the blog.

## Motivation

I want to follow the Selenium blog without manually checking the website from time to time.

## Example

Subscribe via RSS feed.

[2020-03-08 05:34] jasonyun opened #292 "there have a question"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see https://selenium.dev/support/
https://stackoverflow.com/questions/60575152/get-the-value-of-param-in-object-with-selenium-ie-driver

[2020-03-08 05:34] #292 closed

[2020-03-09 17:40] Harsha509 commented on #151
hi @diemol ,

Can we close this, currently we have some info in each document mentioned above.

Regards,
Harsha

[2020-03-09 20:20] swick7 opened #297 "Some confusion with the Worst Practices > Captcha page"
On the web page:  https://www.selenium.dev/documentation/en/worst_practices/captchas/

When the page says,

It's hard to tell if you are suggesting these options or if you are saying that these are a bad practice, because this information is located under the Worst Practices section.

Perhaps you could explicitly say, "We suggest that you...  "

[2020-03-09 20:20] #297 closed

[2020-03-10 07:17] diemol commented on #151
Thank you @Harsha509!

[2020-03-10 07:17] #151 closed

[2020-03-17 21:15] burninmedia opened #330 "No Health Check URL for Nodes."
## 🐛 Bug Report

Trying to run any selenium node containers in a k8s cluster you can get into a state where the node is not accepting any more tests. Normally this is what a health endpoint is for, helping us know when the node is not working.

## To Reproduce

Try to use the hub health check url on a node.
http://$HOST:$PORT/wd/hub/status

Tell us the detailed steps to reproduce it:
Try using cur

[2020-03-18 06:54] #237 closed

[2020-03-18 07:06] diemol commented on #330
Duplicate of https://github.com/SeleniumHQ/selenium/issues/8117

[2020-03-18 07:06] #330 closed

[2020-04-01 11:21] p2635 opened #389 "sendkeys - Add list of possible key strokes"
## 🚀 Feature Proposal for the site or the documentation

The sendkeys only has one example - e.g. ${KEY_ENTER}). It's not very helpful and leads me to guess the other ones like ${KEY_TAB}, is that even valid? A list of valid keystrokes needs to be confirmed for example shift, alt and other things like that.

## Motivation

As above.

## Example

As above.

[2020-04-02 14:37] Harsha509 commented on #389
Hi @p2635 ,

Thanks for raising an issue.

Mostly, WebDriver supports all possible keystrokes available in a general keyboard. So, we've provided a precise example with Keystroke `Enter` for sendKeys.

[Here](https://www.w3.org/TR/webdriver/#keyboard-actions) is the list of available keystrokes that WebDriver supports currently.

I've also updated the documentation accordingly!

Regards,
Harsha.

[2020-04-02 14:37] #389 closed

[2020-04-02 15:35] p2635 commented on #389
Thanks @Harsha509 , please update this page if you haven't already: https://www.selenium.dev/selenium-ide/docs/en/api/commands#send-keys

[2020-04-03 10:21] jjqi92 opened #392 "remoteWebDriver 打开远程浏览器测试完成后，残余很多浏览器进程，导致机器卡死"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see https://selenium.dev/support/

[2020-04-03 10:22] #392 closed

[2020-04-03 19:13] ivanrodjr opened #393 "Libraries or framework section"
## 🚀 Feature Proposal for the site or the documentation

Provide a section dedicated to frameworks or libraries both in the JVM and in other languages that use Selenium as its main dependency, under the hood or as supported, e.g. Webdriver.io, Watir

## Motivation

Inform readers after they have read the basic documentation on existing libraries or frameworks that use WebDriver. This could cover u

[2020-04-08 19:58] diemol commented on #393
Hey @ivanrodjr,

This already exists, see https://www.selenium.dev/ecosystem/

[2020-04-08 19:58] #393 closed

[2020-04-16 11:40] wanxiangxin opened #403 "keyboard"
I want to simulate pressing F12, But it doesn't work, I'm using a Mac
`
Actions action = new Actions(driver);
action.sendKeys(Keys.F12).build().perform();
`

[2020-04-16 11:40] #403 closed

[2020-04-19 02:46] amkhlv opened #404 "selenium-server-standalone dumps Firefox profile on stderr"
## 🐛 Bug Report

When using custom Firefox profile, `java -jar selenium-server-standalone-3.141.59.jar -role node` dumps the whole (zipped?) profile to stderr, as part of Capabilities. This is several Megabytes...

## To Reproduce

`java -jar selenium-server-standalone-3.141.59.jar -role node`

with `prepareLoadedProfile_` as `ffProfile` (using Haskell bindings)

## Expected behavior

There should

[2020-04-19 07:29] Harsha509 commented on #404
Hi @amkhlv,

Thanks for raising the issue!

But this question is best suitable to ask in [SeleniumHQ/Selenium](https://github.com/SeleniumHQ/selenium/issues)

Only documentation issues goes here. Can you please log the same issue in [SeleniumHQ/Selenium](https://github.com/SeleniumHQ/selenium/issues)

Regards,
Harsha

[2020-04-19 07:29] #404 closed

[2020-04-19 19:24] #269 closed

[2020-04-19 19:24] diemol commented on #269
A link was added to the footer where the RSS feed can be obtained from.

[2020-05-02 20:25] roydekleijn opened #411 "Company listing disappeared?"
On the old seleniumhq.org website, there was this page: https://github.com/SeleniumHQ/www.seleniumhq.org/blob/master/src/main/webapp/ecosystem/index.jsp A listing of companies providing Selenium WebDriver services.

Is that gone now? what's the idea behind it?

[2020-05-02 20:25] #411 closed

[2020-05-02 20:36] roydekleijn opened #412 "Company listing disappeared?"
## 🚀 Feature Proposal for the site or the documentation

On the old seleniumhq.org website, there was this page: https://github.com/SeleniumHQ/www.seleniumhq.org/blob/master/src/main/webapp/ecosystem/index.jsp A listing of companies providing Selenium WebDriver services.

## Motivation

It would be great to include this page again on the new website.

## Example

So, people have a clear overview o

[2020-05-02 21:25] roydekleijn commented on #412
ok, found the commit: https://github.com/SeleniumHQ/seleniumhq.github.io/commit/45a7e575f689a8abf48e90b609ee219fe565c3f0

It was removed for a reason..

[2020-05-02 21:26] diemol commented on #412
Hey @roydekleijn
Right, the commit has the information, you were faster than me to look it up 👍

[2020-05-02 21:26] #412 closed

[2020-05-05 12:38] bangbangexe opened #414 "Download URL needs to Fixed."
## 🐛 Bug Report

i'm trying to  download the language binding zip file for Selenium Java, rather it is downloading the `standalone server` version. please Fix the URL to stable version.

## To Reproduce

* Head Over to https://www.selenium.dev/downloads/
* Go for stable java version & click on Download
![image](https://user-images.githubusercontent.com/53608905/81066649-0cbefc80-8efb-11ea-9aed-81c

[2020-05-05 12:50] #414 closed

[2020-05-06 10:17] jaivan2001 opened #415 "Jenkins parallel pipeline close all the chrome proccesses"
I have a jenkins pipeline job with three parallel stages launching tests against chrome with pytest.

[code]
The conf.test file contains the Chrome object
[code]

But when one stage finish, all chrome proccesses are close and other stages are failing with the following exception:
[code]

I think webdriver only should close the chrome connections of this stage when browser.quit(), not all the chrom

[2020-05-06 10:17] #415 closed

[2020-05-09 12:37] karunphilip opened #416 "User Manual"
Instead of having the Documentation just online, could we make an option to generate the entire as-of-date Documentation in PDF format for download?

If you would like me to do it I can, but I am sure there are younger people who are more familiar with the setup to do it in a jiffy.

Regards,

Karun.

[2020-05-09 12:38] #416 closed

[2020-05-15 15:05] Dixie9660 opened #417 "Unable to Locate Selenium IDE Terms & Conditions"
Before we're able to acquire **Selenium IDE** software, our Customer (NASA) requires a review of all software Terms and Conditions.  After searching for the Selenium IDE T&C document or link for the past three (3) days, I'm back to square one.

There is an urgent need to acquire this product, but my hands are tied until I can comply with the Customer's requirement.  Any help would be GREAT** appre

[2020-05-15 15:05] #417 closed

[2020-05-15 15:33] Dixie9660 opened #418 "Unable to locate Selenium IDE Terms & Conditions"
[Issue of 5-15-2020.docx](https://github.com/SeleniumHQ/seleniumhq.github.io/files/4635335/Issue.of.5-15-2020.docx)
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see https://selenium.dev/support/

[2020-05-15 15:33] #418 closed

[2020-05-15 15:38] diemol commented on #417
All projects under the Selenium name are licensed under the Apache model, it is visible there at the repo https://github.com/SeleniumHQ/selenium-ide/blob/master/LICENSE

[2020-05-15 17:02] Dixie9660 commented on #417
Good afternoon Diego, and thanks for getting back to me with this information.

With respect to the screen capture below, under Permissions, I see no mention of Government use.  Would you be able to let me know if we can install on government owned servers/computers too?

[cid:image002.jpg@01D62AB0.AC8CD610]
I really appreciate your help with this.  Please have a FUN/SAFE/HAPPY weekend.

Jeffrey H

[2020-05-15 18:33] diemol commented on #417
I am not entitled to give any legal advice, what you can do is take the link provided about which contains the license and check it with your legal department to see if this fits your needs.

[2020-05-19 09:12] marcozj opened #421 "WebDrive can't render https://login.proficio.com"
Tried following code to navigate to https://login.proficio.com but the page isn't rendered properly. Same for ChromeDirver and Firefox Driver too.

package webtest;

import org.openqa.selenium.By;
import org.openqa.selenium.JavascriptExecutor;
import org.openqa.selenium.WebDriver;
import org.openqa.selenium.chrome.ChromeDriver;
import org.openqa.selenium.safari.SafariDriver;

class WebTest {

[2020-05-19 09:12] #421 closed

[2020-05-19 09:17] marcozj opened #422 "WebDrive can't render https://login.proficio.com"
## 🐛 Bug Report

Tried following code to navigate to https://login.proficio.com but the page isn't rendered properly. Same for ChromeDirver and Firefox Driver too.

## To Reproduce

Use following code.

package webtest;

import org.openqa.selenium.By;
import org.openqa.selenium.JavascriptExecutor;
import org.openqa.selenium.WebDriver;
import org.openqa.selenium.chrome.ChromeDriver;
import org.open

[2020-05-19 09:41] Harsha509 commented on #422
Hi @marcozj ,

Thanks for raising an issue.

This room is for Selenium documentation issues.

I have seen the issue and looks like it is best suitable to raise in Selenium/issues.
Can you please raise the same issue in [here](https://github.com/SeleniumHQ/selenium/issues)

Thanks,
Harsha.

[2020-05-19 09:42] #422 closed

[2020-05-19 09:47] marcozj commented on #422
got it thanks.

[2020-05-22 17:34] cgoldberg opened #431 "Python code examples should use Python3 print() syntax"
## 🐛 Bug Report

## Expected behavior

Python examples in documentation should all use Python3 syntax, not Python2.

## Actual behavior

Many examples in the docs use the old `print` statement syntax rather than `print()` function.

## Rationale

Python2 is EOL as of January 2020 and support for it will be dropped from the Python language bindings sooner than later (I expect).  Using the old synta

[2020-05-22 17:41] Harsha509 commented on #431
Hi @cgoldberg ,

Thank you for providing the information. I will revisit the PY code samples and will do changes accordingly.

Regards,
Harsha.

[2020-05-22 18:01] cgoldberg commented on #431
@Harsha509 great, thanks!

[2020-05-24 16:09] Harsha509 commented on #431
I've revisited PY code samples and made changes accordingly targeting PY3 version. Changes are landed with [this](https://github.com/SeleniumHQ/seleniumhq.github.io/commit/cf5a472a612d221175a78fdcf2b82ac31c27c6d0) commit.

**Note**: If changes are not done/missed in any of document, those will be done eventually when encountered. Also code samples will be accepted once tested in PY3 going further.

[2020-05-24 16:09] #431 closed

[2020-05-25 14:49] QA-Rahul opened #437 "Looks like ActionChains is not working with iframe in Python"
## 🐛 Bug Report

I am trying to move an element from outside of iframe to inside iframe but it seems that never worked.

## To Reproduce

This is a website URL where I executed below code: https://grapesjs.com/demo.html

[code]

## Expected behavior

Expecting that element from the right panel should move to left iframe.

## Environment

* OS: Windows
* Browser: Chrome
* Browser version: 81.0.4044

[2020-05-25 14:59] Harsha509 commented on #437
Hi @QA-Rahul ,

Thanks for raising an issue.

This room is for Selenium documentation issues.

This issue is best suitable to raise in Selenium/issues.
Can you please raise the same issue in [here](https://github.com/SeleniumHQ/selenium/issues)

Thanks,
Harsha.

[2020-05-25 14:59] #437 closed

[2020-05-25 15:05] QA-Rahul commented on #437
Thanks @Harsha509 for a quick guide. Done.

[2020-06-01 06:40] haqer1 opened #448 "Make Java example in en/index.html compilable"
## 🐛 Bug Report

It currently doesn't compile. And according to
https://www.selenium.dev/selenium/docs/api/java/org/openqa/selenium/support/ui/WebDriverWait.html
WebDriverWait constructor doesn't accept a Duration param, so it needs to be changed it to long (or something else).

## To Reproduce

Try to compile the source code.

## Expected behavior

It doesn't, but should.

## Environment

* OS: A

[2020-06-01 06:51] Harsha509 commented on #448
Hi @haqer1 ,

Am able to execute code sample successfully. Can you please let me know what is the selenium version you're using.

Note: All code samples are written and tested with latest selenium Alpha versions.

Regards,
Harsha.

[2020-06-01 06:53] haqer1 commented on #448
I use the latest stable version: 3.141.59.
Projects usually recommend using stable versions, & documentation should target stable versions as well. Is this not the case for Selenium?

[2020-06-01 06:59] Harsha509 commented on #448
Hi @haqer1 ,

There are few deprecated things in Selenium 4(Like Timeout in seconds in this case) when compared to Selenium 3. Our new documentation targets the code samples tested with Selenium4, this is to make easy for the users when Selenium4 releases.

Regards,
Harsha.

[2020-06-01 07:16] Harsha509 commented on #448
Hi @haqer1 ,

If you've any more questions/thoughts we can discuss [here](https://seleniumhq.slack.com/join/shared_invite/enQtODAwOTUzOTM5OTEwLTZjZjgzN2ExOTBmZGE0NjkwYzA2Nzc0MjczMGYwYjdiNGQ5YjI0ZjdjYjFhMjVlMjFkZWJmNDYyMmU1OTYyM2Y). Am closing this issue for now.

Regards,
Harsha

[2020-06-01 07:16] #448 closed

[2020-06-17 16:18] mayaroney opened #460 ".xlsm file type being changed"
I am using Java + Selenium to test an Angular application in Chrome.

The app requires a .xlsm file upload. When I run my automation code locally, this file upload is successful. However, when I run my code on the grid, my app throws an 'incorrect file type' validation error (because the app will only accept .xlsm files). It appears that running on the grid is altering my file type. Does Selenium

[2020-06-17 16:18] #460 closed

[2020-06-19 12:05] phanirithvij opened #465 "some font files giving 404 on the selenium.dev site"
## 🐛 Bug Report

some font files giving 404 on the selenium.dev site.
In this page https://www.selenium.dev/documentation/en/grid/

## To Reproduce

Go to selenium.dev and open devtools

![DeepinScreenshot_20200619162802](https://user-images.githubusercontent.com/29627898/85130738-1c986300-b253-11ea-9915-929b657f81eb.png)

## Expected behavior

The font files should not give 404

OS: linux
Browser

[2020-06-23 10:08] phanirithvij commented on #465
cc @diemol

[2020-06-24 18:27] diemol commented on #465
Seems @Harsha509 fixed this through #468

[2020-06-24 18:27] #465 closed

[2020-07-07 15:26] kamranayub commented on #81
Came here looking for this, for inclusion in a presentation I was hoping to find the new updated logos in SVG format 👍

[2020-07-15 20:54] AutomatedTester opened #933 "Improve Wiki Pages"
## 🐛 Bug Report
The wiki pages are old and

## To Reproduce

Pages to start with

Automation-Atoms.md
Continuous-Integration.md
Crazy-Fun-Build.md
InternetExplorerDriver-Internals.md
Native-Events-On-Linux.md
Python-Bindings.md
Ruby-Bindings.md

Detailed steps to reproduce the behavior:

## Expected behavior

## Test script or set of commands reproducing this issue

Docs updating

Issues without a

[2020-07-26 18:34] Pythonisthebest566 opened #479 "i was using selenium since last week and now when i rum the code it says there is no module called selenium"
I am working on a school project and i have to use selenium. I was using selenium for a long time. I stop working on that project for a week and yesterday i came back to continue it and i tried to run it and it is saying that there is no module named 'selenium'. I uninstall it and re-install it many times , also i **re-install vsc(visual studio code)** and i **re-install python 3.8** . **No**, i a

[2020-07-26 18:34] #479 closed

[2020-07-26 18:37] Pythonisthebest566 opened #480 "I was using selenium and now it is saying there is no module called selenoum"
I am working on a school project and i have to use selenium. I was using selenium for a long time. I stop working on that project for a week and yesterday i came back to continue it and i tried to run it and it is saying that there is no module named 'selenium'. I uninstall it and re-install it many times , also i re-install vsc(visual studio code) and i re-install python 3.8 . No, i am not using

[2020-07-26 18:37] #480 closed

[2020-07-26 18:39] Pythonisthebest566 opened #481 "i was using selenium until recently and now it is saying there is no module called selenium"
##I am working on a school project and i have to use selenium. I was using selenium for a long time. I stop working on that project for a week and yesterday i came back to continue it and i tried to run it and it is saying that there is no module named 'selenium'. I uninstall it and re-install it many times , also i re-install vsc(visual studio code) and i re-install python 3.8 . No, i am not usin

[2020-07-26 18:39] #481 closed

[2020-07-31 07:11] sindhudiddi opened #482 "Missing documentation for TakeScreenshot WebDriver Endpoint"
## 🚀 Feature Proposal for the site or the documentation

Missing documentation for /Screenshot WebDriver Endpoint.

## Motivation

Explanation for TakeScreenshot, TakeScreenshot for element and availability of code examples will be useful

[2020-07-31 08:31] diemol commented on #482
@sindhudiddi would you like to help us with a pull request?

[2020-07-31 08:38] sindhudiddi commented on #482
Sure @diemol, I will raise a PR for this.
Thank you.

[2020-08-08 11:29] vasantverma opened #489 "Getting error- This version of ChromeDriver only supports Chrome version 84 while automating an electron app"
**Description**- I am trying to automate an electron app using selenium webdriver but I am facing the below mentioned issue-

org.openqa.selenium.WebDriverException: unknown error: cannot connect to chrome at localhost:5558
from session not created: This version of ChromeDriver only supports Chrome version 84
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03'
Syst

[2020-08-08 11:29] ghost commented on #489
👋 Hi there! Thank you for creating this issue.

I am the Selenium Assistant Bot 🤖, I triage issues in this repository. If I can't do it, I label it to help maintainers identify issues that need triaging.

I am an Open Source project 🙌, post bugs or ideas [here](https://github.com/SeleniumHQ/selenium-assistant)!

[2020-08-08 11:29] ghost commented on #489
❗️ It seems this issue is not using any of the supported templates

💡 Supported issue types are (they start with):

* 🐛 Bug Report (bugs found in a recent release)
* 🚀 Feature Proposal (a useful feature you would like to propose)

Issue templates help this project to stay in shape, please use them and fill them out completely. By doing that you are helping the project because the community and mai

[2020-08-08 11:29] #489 closed, assigned to nobody

[2020-08-08 11:47] vasantverma opened #490 "Getting error- This version of ChromeDriver only supports Chrome version 84 while automating ectron app using selenium webdriver"
## 🐛 Bug Report

 I am trying to automate an electron app using selenium webdriver but I am facing the below mentioned issue-

org.openqa.selenium.WebDriverException: unknown error: cannot connect to chrome at localhost:5558
from session not created: This version of ChromeDriver only supports Chrome version 84
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03'
Sys

[2020-08-09 15:39] harsha509 commented on #490
Hi @vasantverma ,

This repo contains issues for Selenium documentation only. From the above i can suggest couple of things

1. Taking time, I've executed the sample as described in [here](https://applitools.com/blog/automating-electron-applications-using-selenium/), and it works well for me. You may need to cross check the chrome version and chromedriver version again (from the above as you menti

[2020-08-09 15:42] harsha509 commented on #490
Closing this, as it is not a documentation issue!

[2020-08-09 15:42] #490 closed, assigned to nobody

[2020-08-10 08:19] diemol commented on #482
Closed via #483

[2020-08-10 08:19] #482 closed

[2020-08-25 09:30] arslan8625 opened #508 "I am facing this issue while running the script need help how to fix this issue!!!!"
## 🐛 Bug Report
Aug 25, 2020 2:03:36 PM org.openqa.selenium.remote.ProtocolHandshake createSession
INFO: Detected dialect: W3C
launch activity
org.openqa.selenium.InvalidSelectorException: Locator Strategy 'css selector' is not supported for this session
For documentation on this error, please visit: http://seleniumhq.org/exceptions/invalid_selector_exception.html
Build info: version: '3.4.0', rev

[2020-08-25 09:33] Harsha509 commented on #508
Hi @arslan8625 ,

This section contains issues related to Selenium documentation only. Can you please raise the same in [here](https://github.com/SeleniumHQ/selenium/issues)

Thanks,
Harsha

[2020-08-27 10:29] thebravoman opened #509 "Unable to find WebDriverError@chrome://marionette/content/error.js to read failed line"
## 🐛 Bug Report
This started occurring in all specs
[code]

We are running rails specs with selenium driver.

## To Reproduce
It just started occurring on our side. We are trying to come up with a way to reproduce it.

## Expected behavior
I would expect the tests to pass.

## Environment

* OS: Ubuntu 18.04.4 LTS
* Browser: Chrome
chromedriver --version
ChromeDriver 80.0.3987.106 (f68069574609230

[2020-08-27 10:45] harsha509 commented on #509
Hi @thebravoman ,

This section contains issues related to Selenium documentation only. Can you please raise it in here https://github.com/SeleniumHQ/selenium/issues

Also, request you please provide a SSCCE (http://sscce.org/) to reproduce the issue.

Thanks,
Harsha

[2020-08-27 10:45] #509 closed, assigned to nobody

[2020-08-27 11:31] thebravoman commented on #509
Thanks. Switched to chrome. Will do for now.

[2020-09-04 10:49] rich-newman opened #514 "C# Example on Documentation Home Page Doesn't Compile"
## 🐛 Bug Report

The C# example on the documentation home page ([https://www.selenium.dev/documentation/en/](https://www.selenium.dev/documentation/en/)) doesn't compile, and gives a warning about obsolete code.

## To Reproduce

Steps taken:

- Started VS2019 C# console app (.NET Core)
- Installed NuGet packages Selenium.WebDriver, Selenium.Support, Selenium.Firefox.WebDriver
- Copy/pasted code f

[2020-09-04 13:02] harsha509 commented on #514
Hi @rich-newman ,

Thank you for raising the issue. Yes code sample has issues (apologies for that)

As described in issue
1. `SeleniumExtras`  is a nuget package that is not part of Selenium.
2.  ExpectedConditions are deprecated from Selenium 4.

I've updated the code sample which doesn't not use Selenium Extras and to wait for an element.

Code tested with Selenium aplha -5 nuget package.

Than

[2020-09-04 13:02] #514 closed, assigned to nobody

[2020-09-04 13:33] rich-newman commented on #514
The new code works fine for me, thanks - that was an impressively quick turnaround!

[2020-09-14 13:12] gaoming714 opened #521 "presence_of_element_located needs ( Tuple ) for argument"
https://www.selenium.dev/documentation/en/
For the demo with Python,

`first_result = wait.until(presence_of_element_located(By.CSS_SELECTOR, "h3>div"))`
should be
`first_result = wait.until(presence_of_element_located( (By.CSS_SELECTOR, "h3>div") ))`
Because the argument should be an tuple. the private does not work.
The error is
[code]

as the description
`class selenium.webdriver.support.expect

[2020-09-14 13:12] ghost commented on #521
👋 Hi there! Thank you for creating this issue.

I am the Selenium Assistant Bot 🤖, I triage issues in this repository. If I can't do it, I label it to help maintainers identify issues that need triaging.

I am an Open Source project 🙌, post bugs or ideas [here](https://github.com/SeleniumHQ/selenium-assistant)!

[2020-09-14 13:12] ghost commented on #521
❗️ It seems this issue is not using any of the supported templates

💡 Supported issue types are (they start with):

* 🐛 Bug Report (bugs found in a recent release)
* 🚀 Feature Proposal (a useful feature you would like to propose)

Issue templates help this project to stay in shape, please use them and fill them out completely. By doing that you are helping the project because the community and mai

[2020-09-14 13:12] #521 closed, assigned to nobody

[2020-09-14 13:18] gaoming714 opened #522 "presence_of_element_located needs ( Tuple ) for argument"
## 🐛 Bug Report

[code]

## To Reproduce

document error.
For this page with Python
https://www.selenium.dev/documentation/en/

## Expected behavior

`first_result = wait.until(presence_of_element_located(By.CSS_SELECTOR, "h3>div"))`
should be
`first_result = wait.until(presence_of_element_located( (By.CSS_SELECTOR, "h3>div") ))`
Because the argument should be an tuple. the current one does not wo

[2020-09-14 13:47] diemol commented on #522
@gaoming714 could you please give us more context? I cannot understand what is the bug in the documentation.

[2020-09-14 13:57] gaoming714 commented on #522
@diemol
if I run the demo code in the document.
[code]

I will get an Error

[code]

the source code for `presence_of_element_located`
[code]

It can be fixed by changing `By.CSS_SELECTOR, "h3>div"` to `(By.CSS_SELECTOR, "h3>div")`

And this is the first demo for Python in the document, I think it deserves more attention.

[2020-09-14 13:58] diemol commented on #522
Where is this code? Can you please provide the link?

[2020-09-14 14:02] gaoming714 commented on #522
link:
https://www.selenium.dev/documentation/en/

the python part

![Image 1](https://user-images.githubusercontent.com/7444968/93095607-e6de0b80-f6d5-11ea-8a26-57a63b83d104.png)

[2020-09-14 14:10] diemol commented on #522
Ah ok, now I understand.
I was able to reproduce it.
I could fix it, but I wanted to ask first if you would like to send a pull request and contribute to Selenium :)

[2020-09-14 14:20] gaoming714 commented on #522
@diemol I'd like to create a PR.

[2020-09-14 14:22] diemol commented on #522
Great!
If you need a step by step guide, you can check our contribution doc https://www.selenium.dev/documentation/en/contributing/

[2020-09-14 15:20] gaoming714 commented on #522
Duplicate of #524
I didn't do a PR very skillfully, it is #524.
I hope it works.

[2020-09-14 15:43] diemol commented on #522
Closed via #524, thank you!

[2020-09-14 15:43] #522 closed, assigned to nobody

[2020-09-19 19:00] ghost opened #525 "Changing language in one sample should reflect across all code samples"
## 🚀 Feature Proposal for the site or the documentation

When a user changes the (programming) language of a sample, these changes should reflect across all the samples on the current as well as other pages of the documentation too.

## Motivation

I was just reading the docs to get started with selenium for python, but all the code samples over there were for Java by default. It was very frustrat

[2020-09-20 14:46] diemol commented on #119
I made some changes in the structure of the translation and the search works now.

![image](https://user-images.githubusercontent.com/5992658/93714118-dd82f200-fb60-11ea-9a6b-900fe1e40028.png)

[2020-09-20 14:46] #119 closed

[2020-09-22 08:43] griswolf opened #526 "Simple mistake in docs choice of phrase in French"
## 🐛 Bug Report
At this url: https://www.selenium.dev/documentation/en/introduction/the_selenium_project_and_tools/

You say "into the du jour remote control library for user agents"
"du jour" means "of the day" it is commonly found on restaurant menus to describe the soup du jour and similar things. It does NOT mean "by law" which in Latin is usually expressed as "de jure" usually contrasted with

[2020-09-22 08:51] diemol commented on #526
Thank you for raising this up, @griswolf!

Would you like to contribute and help us improve the text?
[Here](https://www.selenium.dev/documentation/en/contributing/) is a detailed guide that shows how to do it.

[2020-09-29 03:55] SixPMFriday commented on #526
I thought the wording (wordplay?) was excellent and I hope you keep it, @diemol!

"The du jour remote control library for user agents" is a novel turn-of-phrase which actually does present the Selenium WebDriver API as the current day de facto / standard, while tastefully acknowledging the inevitability of future changes.

Reading the documentation at face value, it's reasonable to interpret the "

[2020-09-29 04:06] GGBomb2 opened #529 "Webdriver hang by the 2nd alert"
💬 Webdriver hang by the 2nd alerts

   Firefox version 77.0.1 geckodriver0.26.0 selenium-java3.141.59

    There are two continuous alerts popup on the page,  driver.switchTo().alert() could get the first alert, but when run alert.accept() the driver would be hung by the 2nd alert.

For questions or help please see https://selenium.dev/support/

[2020-09-29 04:06] ghost commented on #529
👋 Hi there! Thank you for creating this issue.

I am the Selenium Assistant Bot 🤖, I triage issues in this repository. If I can't do it, I label it to help maintainers identify issues that need triaging.

I am an Open Source project 🙌, post bugs or ideas [here](https://github.com/SeleniumHQ/selenium-assistant)!

[2020-09-29 04:06] ghost commented on #529
💬 It looks like this is a request for support or a question

💡 A better way to address this is:

* 📫 Send questions and support requests to the [Selenium user group](https://groups.google.com/forum/#!forum/selenium-users)
* 📮 Post them to [StackOverflow](https://stackoverflow.com/questions/tagged/selenium)
* 🗣 Join us in the [IRC/Slack channel](https://seleniumhq.herokuapp.com/) where the communit

[2020-09-29 04:07] #529 closed, assigned to nobody

[2020-10-01 21:47] diemol commented on #526
Thanks for your input, @SixPMFriday!

I believe there is not much for us to do here since there are different opinions, but more importantly, no PR was sent (or an intention of it).

Closing this for now.

[2020-10-01 21:47] #526 closed, assigned to nobody

[2020-10-11 10:46] skyhirider opened #532 "Mention HTML unit in file downloads section"
https://www.selenium.dev/documentation/en/worst_practices/file_downloads/

HTMLunit has a mature interface for file downloads ( see https://htmlunit.sourceforge.io/apidocs/com/gargoylesoftware/htmlunit/attachment/AttachmentHandler.html )

It could be mentioned as many are looking to use Selenium for web scraping and file downloads and copying a link is not always possible, especially with more com

[2020-10-11 10:46] ghost commented on #532
👋 Hi there! Thank you for creating this issue.

I am the Selenium Assistant Bot 🤖, I triage issues in this repository. If I can't do it, I label it to help maintainers identify issues that need triaging.

I am an Open Source project 🙌, post bugs or ideas [here](https://github.com/SeleniumHQ/selenium-assistant)!

[2020-10-11 10:46] ghost commented on #532
❗️ It seems this issue is not using any of the supported templates

💡 Supported issue types are (they start with):

* 🐛 Bug Report (bugs found in a recent release)
* 🚀 Feature Proposal (a useful feature you would like to propose)

Issue templates help this project to stay in shape, please use them and fill them out completely. By doing that you are helping the project because the community and mai

[2020-10-11 10:46] #532 closed, assigned to nobody

[2020-10-11 10:49] skyhirider opened #533 "Mention HTML unit in file downloads section"
## 🚀 Feature Proposal for the site or the documentation

https://www.selenium.dev/documentation/en/worst_practices/file_downloads/

HTMLunit has a mature interface for file downloads ( see https://htmlunit.sourceforge.io/apidocs/com/gargoylesoftware/htmlunit/attachment/AttachmentHandler.html )

It could be mentioned as many are looking to use Selenium for web scraping and file downloads and copyin

[2020-10-12 22:32] diemol commented on #533
@skyhirider, would you like to send us a pull request with that suggestion?

[2020-10-13 00:31] skyhirider commented on #533
@diemol I can, but saw there are several language files in the repo.

Presume English is good enough?

Any guidelines on what to write and how?

[2020-10-13 21:21] diemol commented on #533
@skyhirider please for all languages, check step 3 of this contribution guide
https://www.selenium.dev/documentation/en/contributing/
You can add the text in English and add a notification asking for translations.

[2020-10-16 08:58] tonydream888 opened #537 "Driver sleep function not working"
Solved!

[2020-10-16 08:58] ghost commented on #537
👋 Hi there! Thank you for creating this issue.

I am the Selenium Assistant Bot 🤖, I triage issues in this repository. If I can't do it, I label it to help maintainers identify issues that need triaging.

I am an Open Source project 🙌, post bugs or ideas [here](https://github.com/SeleniumHQ/selenium-assistant)!

[2020-10-16 08:58] ghost commented on #537
❗️ It seems this issue is not using any of the supported templates

💡 Supported issue types are (they start with):

* 🐛 Bug Report (bugs found in a recent release)
* 🚀 Feature Proposal (a useful feature you would like to propose)

Issue templates help this project to stay in shape, please use them and fill them out completely. By doing that you are helping the project because the community and mai

[2020-10-16 08:58] #537 closed, assigned to nobody

[2020-10-28 22:41] krb-vci opened #545 "FindElement(By.XPath(... error"
When I execute a FindElement by XPath, looking for a specific attribute value, the element returned is not correct.  In the case i found it was in a table, so I'll illustrate with 2 tables.

Here's what happens:

Start with 2 tables that both have children with the desired attribute:
        <table id="first">
            <tbody>
                <tr>
                    <td private-label="ABC">

[2020-10-28 22:41] ghost commented on #545
👋 Hi there! Thank you for creating this issue.

I am the Selenium Assistant Bot 🤖, I triage issues in this repository. If I can't do it, I label it to help maintainers identify issues that need triaging.

I am an Open Source project 🙌, post bugs or ideas [here](https://github.com/SeleniumHQ/selenium-assistant)!

[2020-10-28 22:41] ghost commented on #545
❗️ It seems this issue is not using any of the supported templates

💡 Supported issue types are (they start with):

* 🐛 Bug Report (bugs found in a recent release)
* 🚀 Feature Proposal (a useful feature you would like to propose)

Issue templates help this project to stay in shape, please use them and fill them out completely. By doing that you are helping the project because the community and mai

[2020-10-28 22:41] #545 closed, assigned to nobody

[2020-10-28 22:44] krb-vci opened #546 "FindElement by XPath returns incorrect value"
## 🐛 Bug Report

When I execute a FindElement by XPath, looking for a specific attribute value, the element returned is not correct. In the case i found it was in a table, so I'll illustrate with 2 tables.

Here's what happens:

Start with 2 tables that both have children with the desired attribute:
`     <table id="first">
        <tbody>
            <tr>
                <td private-label="ABC">

[2020-10-28 23:18] jimevans commented on #546
This is entirely consistent with the XPath Specification. Using `//` without a context node qualifier means “search from the top of the document. This is true even if you are calling `FindElement` on an element object instead of the driver object. If you want to supply a context node when calling `IWebElement.FindElement`, use `.//` (note the period).

[2020-10-28 23:18] #546 closed, assigned to nobody

[2020-10-28 23:32] krb-vci commented on #546
Thanks. It looks like I need a good, clear, tutorial or reference on the XPath specification.

Sent from my phone

On Oct 28, 2020, at 4:18 PM, jimevans <notifications@github.com<mailto:notifications@github.com>> wrote:

This is entirely consistent with the XPath Specification. Using // without a context node qualifier means “search from the top of the document. This is true even if you are callin

[2020-10-31 16:21] pragapraga opened #549 "Cross buttons should not appear by default in Search bar"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/6701828/97784167-986fc800-1bc2-11eb-87b4-ff3d4d132454.png)
Cross button should not be present by default, because it does nothing on clicking 😁

## To Reproduce

1. Navigate to https://www.selenium.dev/documentation/en/getting_started/
![image](https://user-images.githubusercontent.com/6701828/97784103-17b0cc00-1bc2-11eb-8bde-6754

[2020-10-31 16:36] pragapraga opened #550 "Correct value must be populated in search bar when choosed from auto complete options"
## 🐛 Bug Report

Correct value must be populated in search bar when choosed from auto complete options

## To Reproduce

How can we reproduce the issue you found? Please tell us how we can do that.
Don't forget to add:

* Navigate to https://www.selenium.dev/documentation/en/
* Type `Praga` in search bar (You will have below auto complete values)
![image](https://user-images.githubusercontent.com/

[2020-10-31 21:40] diemol commented on #549
👋 @pragapraga, thank you for reporting this issue.

However, our documentation uses [Hugo Theme Learn](https://github.com/matcornic/hugo-theme-learn), so this should be reported there and see what the maintainer says.

Closing this as the potential fix should not be applied here but in the main theme, and then reused by Selenium.

[2020-10-31 21:40] #549 closed, assigned to nobody

[2020-10-31 21:40] diemol commented on #550
👋 @pragapraga, thank you for reporting this issue.

However, our documentation uses [Hugo Theme Learn](https://github.com/matcornic/hugo-theme-learn), so this should be reported there and see what the maintainer says.

Closing this as the potential fix should not be applied here but in the main theme, and then reused by Selenium.

[2020-10-31 21:40] #550 closed, assigned to nobody

[2020-11-01 07:46] pragapraga commented on #525
Shall I works on this? @jalaj-k @diemol ?

[2020-11-01 09:12] diemol commented on #525
Sure, it is available for anyone to jump in and contribute!

[2020-11-08 21:45] #533 closed, assigned to nobody

[2020-11-19 12:13] vringar opened #554 "API Documentation is no longer available"
## 🐛 Bug Report

https://www.selenium.dev/selenium/docs/api/py/webdriver_remote/selenium.webdriver.remote.webelement.html
used to link to a python method on the remote webdriver. Now it returns a 404 and I can't find a way to access the
same information piece of information on the website.

## To Reproduce

Try to access the link posted above. I tried to access it with cURL as well as my browser a

[2020-11-20 17:42] pawel-slowik commented on #554
The same issue affects links in the "Waits" section:
1. go to https://www.selenium.dev/documentation/en/webdriver/waits/
2. search for `expected_conditions`
3. click the link for _Python’s selenium.webdriver.support.expected_conditions class_
4. https://seleniumhq.github.io/selenium/docs/api/py/webdriver_support/selenium.webdriver.support.expected_conditions.html?highlight=expected
5. 404

Note th

[2020-11-24 10:31] diemol commented on #554
Fixed via https://github.com/SeleniumHQ/selenium/commit/d6bc900d7586a3c507ccdd901079df912ac49cb8
https://www.selenium.dev/selenium/docs/api/py/api.html

[2020-11-24 10:31] #554 closed, assigned to nobody

[2020-12-04 13:17] boris779 opened #565 "JS Example for Alerts & PopUps does not work"
## 🐛 Bug Report

While translating to German, I noticed that on the js_alerts_prompts_and_confirmations page there is an example which should show an JavaScript Alert. Due to hugo this code is not functional

## To Reproduce

Go to https://www.selenium.dev/documentation/en/webdriver/js_alerts_prompts_and_confirmations/
Try to click on 'See an example Alert' which is not linked, and does not show a

[2020-12-04 13:21] boris779 commented on #565
I also tried to fix that issue.

I figured it out to add a custom js to the hugo template, that works and I prepared a pull request. But I didn't got a button or link working on that page. I tried some markups with {{% %}} but this is always marked by hugo with the "raw HTML omitted" comment in the created html files.

There is an option to allow "unsafe" HTML, but I do not think that this is the

[2020-12-04 13:21] boris779 commented on #565
![image](https://user-images.githubusercontent.com/10259016/101168670-0d0fa980-363c-11eb-859e-9d84915fa640.png)

[2020-12-04 13:32] boris779 commented on #565
So via console I got it working to display an alert (which I added to the selenium theme/template)

![image](https://user-images.githubusercontent.com/10259016/101169626-82c84500-363d-11eb-81aa-4a548360bca5.png)

[2020-12-21 10:38] boris779 opened #584 "Missing sections in 'support classes'"
## 🐛 Bug Report

The support class pages introduce some topics in the header but only ThreadGuard is descriped.

## To Reproduce

How can we reproduce the issue you found? Please tell us how we can do that.
Don't forget to add:

* https://www.selenium.dev/documentation/en/webdriver/support_classes/

## Expected behavior

We should remove the undescripted topics until we have a guide with code exam

[2020-12-22 02:03] granrookey opened #586 "I can't find add_experimental_option(python selenium) in NodeJS"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see https://selenium.dev/support/

Hi.

I have a question about setting option to 'selenium-webdriver/chrome'.

I used option flag in python code like below.

`from selenium import webdriver

options = webdriver.ChromeOptions()
options.add_experimental_op

[2020-12-22 02:03] ghost commented on #586
👋 Hi there! Thank you for creating this issue.

I am the Selenium Assistant Bot 🤖, I triage issues in this repository. If I can't do it, I label it to help maintainers identify issues that need triaging.

I am an Open Source project 🙌, post bugs or ideas [here](https://github.com/SeleniumHQ/selenium-assistant)!

[2020-12-22 02:03] ghost commented on #586
💬 It looks like this is a request for support or a question

💡 A better way to address this is:

* 📫 Send questions and support requests to the [Selenium user group](https://groups.google.com/forum/#!forum/selenium-users)
* 📮 Post them to [StackOverflow](https://stackoverflow.com/questions/tagged/selenium)
* 🗣 Join us in the [IRC/Slack channel](https://seleniumhq.herokuapp.com/) where the communit

[2020-12-22 02:03] #586 closed, assigned to nobody

[2020-12-26 09:57] Orange23333 opened #588 "Document Homepage Code Wrong"
## 🐛 Bug Report

In the homepage: https://www.selenium.dev/documentation/en/ the code in C# "wait.Until(driver =>driver.FindElement(By.CssSelector("h3>div")).Displayed);" should be "wait.Until(_driver =>_driver.FindElement(By.CssSelector("h3>div")).Displayed);" will make a CS0136 compiler error "A local variable named 'driver' cannot be declared in this scope because it would give a different mean

[2021-01-06 15:02] #588 closed, assigned to nobody

[2021-01-07 03:48] yuki-kimoto opened #605 "Can I add Perl examples at example page"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see https://selenium.dev/support/

Can I add Perl examples at example page

https://www.selenium.dev/documentation/ja/webdriver/driver_requirements/

Perl has Selenium::Remote::Driver.

https://metacpan.org/pod/Selenium::Remote::Driver

[2021-01-07 03:48] ghost commented on #605
👋 Hi there! Thank you for creating this issue.

I am the Selenium Assistant Bot 🤖, I triage issues in this repository. If I can't do it, I label it to help maintainers identify issues that need triaging.

I am an Open Source project 🙌, post bugs or ideas [here](https://github.com/SeleniumHQ/selenium-assistant)!

[2021-01-07 03:48] ghost commented on #605
💬 It looks like this is a request for support or a question

💡 A better way to address this is:

* 📫 Send questions and support requests to the [Selenium user group](https://groups.google.com/forum/#!forum/selenium-users)
* 📮 Post them to [StackOverflow](https://stackoverflow.com/questions/tagged/selenium)
* 🗣 Join us in the [IRC/Slack channel](https://seleniumhq.herokuapp.com/) where the communit

[2021-01-07 03:48] #605 closed, assigned to nobody

[2021-01-25 08:31] #565 closed, assigned to nobody

[2021-02-04 13:38] praveendvd opened #627 "Page loading strategy not working as per documentation for Python"
## 🐛 Bug Report

https://www.selenium.dev/documentation/en/webdriver/page_loading_strategy/#:%7E:text=Defines%20the%20current%20session%27s%20page,loading%20takes%20lot%20of%20time

Explains

[code]

As code for setting page load strategy but it won't work the correct solution is

[code]
## To Reproduce

[code]

## Expected behavior

It should print("hi") without waiting to page load

## Environme

[2021-02-04 13:39] praveendvd commented on #627
Could I create a pull request for updating the docuemanttion

[2021-02-04 13:41] harsha509 commented on #627
Hi @praveendvd ,

Can you please let me know what version of py-selenium you're using.

Thanks,
Harsha.

[2021-02-04 13:45] praveendvd commented on #627
3.141.0 ,  installed using pip install selenium

[2021-02-04 13:48] harsha509 commented on #627
Hi @praveendvd ,

All the code samples in the document are tested with latest Selenium4 alpha version. We encourage users to use driver options to set capabilities as we are deprecating desired capabilities.

Can you please try with latest alpha version of selenium 4 alpha and let me know.

Thank you!

[2021-02-04 13:53] praveendvd commented on #627
@JS31096

   Its working with v4

                    pip install selenium==4.0.0.a7

[2021-02-04 14:22] harsha509 commented on #627
Thank you!

Closing this as resolved.

FYI. All the other code samples in documentation are written with Selenium4 alpha versions. Please use alpha version to make use of code samples.

Apologies for inconvienece.

[2021-02-04 14:22] #627 closed, assigned to nobody

[2021-02-04 21:00] luapi82 opened #628 "BrowserManipulation: TakeScreenshot: Javascript not working"
## 🐛 Bug Report

The screenshot is an empty PNG file of 9 bytes.

## To Reproduce

https://www.selenium.dev/documentation/en/webdriver/browser_manipulation/#takescreenshot
Running on fresh install of Ubuntu 20.04.2 LTS

- Copy and paste the JavaScript example into a new file index.js
- Modify the example.com to google.com
- Type 'node index.js' in the terminal window to run it

## Expected behavio

[2021-02-05 14:32] harsha509 commented on #628
Hi @luapi82 ,

Thanks for raising the issue.

There was issue with code sample in JavaScript. I have fixed with this [commit ](https://github.com/SeleniumHQ/seleniumhq.github.io/commit/7efa397db38d8c0ba4c9ed1583fa7f2a053a78c0)

Thanks,
Harsha

[2021-02-05 14:32] #628 closed, assigned to nobody

[2021-02-11 15:06] pwlandoll opened #630 "Documentation request: Java version(s), Hub/Node networking"
## 🚀 Feature Proposal for the site or the documentation

It would be helpful for the documentation for Grid 4 to list a tested (or suggested) list of Java versions to use for running the server jar. The best I could find in the code or documentation was a version requirement for building, but nothing about running.

Additionally, it would also be helpful to have a more explicitly listed set of req

[2021-02-17 08:54] diemol opened #633 "Blog Dates on the homepage are wrong"
## 🐛 Bug Report

Did you find something wrong with the site or the documentation? Please describe
your finding in a clear and concise way.

## To Reproduce

How can we reproduce the issue you found? Please tell us how we can do that.
Don't forget to add:

Blog dates are not correct on the home page

## Expected behavior

The blog date displayed on the home page should be the same publish date seen

[2021-02-17 11:30] #633 closed, assigned to nobody

[2021-03-22 11:15] camohub opened #651 "Was passed main parameter '--config-help' but no main parameter was defined in your arg class"
## 🐛 Bug Report

java -jar /opt/selenium-server/selenium-server-standalone-3.141.59.jar --config-help
Exception in thread "main" com.beust.jcommander.ParameterException: Was passed main parameter '--config-help' but no main parameter was defined in your arg class

## To Reproduce

According [documentation](https://www.selenium.dev/documentation/en/grid/grid_4/configuring_components/config_help/) I

[2021-03-22 11:39] diemol commented on #651
@camohub that is the documentation for Grid 4 and you are using Grid 3. Please head to https://www.selenium.dev/downloads/ to get the Grid 4 jar.

[2021-03-22 11:39] #651 closed, assigned to nobody

[2021-03-22 12:03] camohub commented on #651
But this documentation https://www.selenium.dev/documentation/en/remote_webdriver/remote_webdriver_server/ uses {VERSION} placeholder. The main problem is with -timeout=20 -browserTimeout=60 options.
Why did you send me to download page? V4 is beta and I have a running system. I dont want to upgrade from 3 to 4.

[2021-03-22 12:16] diemol commented on #651
Thank you for pointing it out, @camohub!
That part of the docs is not valid anymore, I've moved it to the legacy section. Grid 3 documentation can be seen here https://www.selenium.dev/documentation/en/grid/grid_3/
If you need any help, please use the communication channels mentioned here https://www.selenium.dev/support/

[2021-03-26 06:29] alaahong opened #653 "Do we have the possible to attach IE Driver with version v3.150.1.1 on official site?"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

The latest IE Driver version is v3.150.1.1 , but official site only provide link as 3.150.1.0
https://www.selenium.dev/downloads/

![image](https://user-images.githubusercontent.com/3264250/112591498-65fb8b80-8e3f-11eb-83b1-e67dd7e153f1.png)
![image](https://user-images.githubusercon

[2021-03-26 13:29] diemol opened #654 "Was confused after reading: https://www.selenium.dev/documentation/en/webdriver/page_loading_strategy/"
Was confused after reading: https://www.selenium.dev/documentation/en/webdriver/page_loading_strategy/

"This will make Selenium WebDriver to wait until the initial HTML document has been completely loaded and parsed, and discards loading of stylesheets, images and subframes."

Are you saying that they are loaded, just not processed?

_Originally posted by @githubuser100007 in https://github.com/S

[2021-03-27 23:17] vFire commented on #586
I can't find it either

[2021-03-30 05:35] harsha509 commented on #653
Hi @alaahong ,

Thanks for raising the issue.!

As per the instructions mentioned in IE changelog, The IE version number follows the below pattern

 "major.minor.build.revision"

and changes in "revision" field (which is 3.150.1.1 (revision) in this case) indicates private releases checked into the pre-builts directory of the source tree and these revision releases are not generally made available

[2021-03-30 05:57] alaahong commented on #653
@JS31096  Thanks for your following.
This helps me to understand the version mechanism.

We're facing some JS execution issues with IE driver, the changelog means there are some JS enhancements on revision version. Raise this question just caused by our internal mirror only sync the binary from official artifactory not the github trunk. As can be seen, the build version had been stayed on 3.150.1

[2021-03-30 06:35] harsha509 commented on #653
Thank you @alaahong, Will sure update the downloads link if there is any official IE release.

[2021-03-30 06:35] #653 closed, assigned to nobody

[2021-03-31 09:37] madarche opened #655 "https://www.selenium.dev/ is DOWN. It returns 404 File not found at the moment"
Hello,

https://www.selenium.dev/ returns 404  File not found at the moment.

Please ignore if you are already aware.

Cheers

[2021-03-31 10:22] madarche commented on #655
https://www.selenium.dev/ is BACK :+1:

[2021-03-31 10:22] #655 closed, assigned to nobody

[2021-04-03 11:08] ixolius opened #657 "Ruby code snippets about Page loading strategy don't work"
## 🐛 Bug Report

The Ruby code snippets in the Site about Page loading strategy don't work in the current selenium-webdriver version. Based on the source code at Github, it seems like they will in Selenium 4.0, but I'm not 100% sure

## To Reproduce

Copy one of the following snippets and execute them with Ruby. They are all from https://www.selenium.dev/documentation/en/webdriver/page_loading_str

[2021-04-03 16:10] harsha509 commented on #657
HI @ixolius ,

Thank you for checking out the code samples for Selenium.

FYI All the code samples documented are tested with Selenium 4 Alpha and beta versions. Can you try with latest Selenium beta release ?

[2021-04-27 00:55] abhi-singhs commented on #525
Hi @diemol,

I have submitted a PR.
It would be awesome if you could review it!

Thanks.

[2021-04-27 08:01] diemol commented on #525
I've left a comment for you at the PR.

[2021-04-27 08:02] diemol commented on #584
What else would you add, @boris779?

[2021-04-27 09:35] diemol commented on #657
Closing as we did not get any replies.

[2021-04-27 09:35] #657 closed, assigned to nobody

[2021-04-27 09:35] #525 closed, assigned to nobody

[2021-04-30 06:08] shmikkil opened #676 "Exception while fetching data - java.lang.reflect.InvocationTargetException Exception"
## 💬 Questions and Help
Applied SSL Certs and started receiving the exceptions when trying to register the nodes when using Selenium Grid 4 - Beta 3. There has been an error while loading the Nodes from the Grid.
Exception while fetching data (/nodesInfo/nodes) : java.lang.reflect.InvocationTargetException

Selenium Grid
Exception while fetching data (/grid/totalSlots) : java.lang.reflect.Invocati

[2021-04-30 07:41] diemol commented on #676
Please create a complete bug report at https://github.com/SeleniumHQ/selenium

[2021-04-30 07:41] #676 closed, assigned to nobody

[2021-04-30 07:43] diemol commented on #630
I think this comes from an error we made in an `alpha` release where we shipped some Java 11 code by mistake. We have made sure Grid and Java bindings require only Java 8 to work properly. So there is no need to add that comment in the docs.

[2021-04-30 07:43] #630 closed, assigned to nobody

[2021-05-13 08:29] zuiyuewentian opened #688 "driver.switch_to.new_window can't effective"
driver.switch_to.new_window('tab')

I can't use this code create a new tab or windows .

[2021-05-13 08:40] harsha509 commented on #688
Hi @zuiyuewentian,

Could you please provide more info on this?

Language bindings:
Version:

Sample code to reproduce this issue http://sscce.org/
Note: The feature only works with Selenium 4 beta versions. Please download the latest beta and try again!

[2021-05-21 05:09] harsha509 commented on #688
Closing this as we didn't hear back from the OP.

Please raise an issue in [here ](https://github.com/SeleniumHQ/selenium/issues/new/choose) if you still see any issue.
Hope this helps.

Thanks,
Harsha

[2021-05-21 05:09] #688 closed, assigned to nobody

[2021-05-25 01:44] z632896862 opened #692 "left Chrome.exe full of memory"
## 🐛 Bug Report

When I use webDrive for Chrome, there will be some left in my memory. When I use it many times,there will be many proessce named chorme.exe. Every proess will cust 30-50K. Finally they will full of my memory. I have try use drive.quit() to close it,but doesn‘t work

## To Reproduce

How can we reproduce the issue you found? Please tell us how we can do that.
Don't forget to add:

[2021-05-25 07:33] diemol commented on #692
This repository accepts issues related to the Selenium documentation, if you are having an issue/bug that can be reproduced with a script, please create an issue [here](https://github.com/SeleniumHQ/selenium) and fill out all the information requested on the template.

[2021-05-25 07:33] #692 closed, assigned to nobody

[2021-05-29 14:13] Haifischbecken opened #698 "Misleading/wrong code snippet in docu for "webdriver/driver requirements""
## 🐛 Bug Report

In the Docu under ["webdriver/driver requirements"](https://www.selenium.dev/documentation/en/webdriver/driver_requirements/#firefox) there are two code snipptes. The JS version of the second supposedly shows how to select the **wedriver** binary manually, but the `setBinary` option is used which does set the **browser** binary.
This have been an [issue](https://github.com/Seleniu

[2021-05-30 17:47] diemol commented on #698
Thanks for reporting this, @Haifischbecken. Would you like to send a PR to fix the docs?

[2021-05-30 19:45] Haifischbecken commented on #698
Yes, @diemol I just created a PR, I am testing the fork locally and remove the "WIP" once I'm done.

[2021-05-30 20:45] Haifischbecken commented on #698
Changes are done on my side.

[2021-05-30 20:54] #698 closed, assigned to nobody

[2021-06-01 17:36] andyvanhelsing opened #703 "Cannot get value from HTML input in Chrome 91"
## 🐛 Bug Report

Cannot get value from HTML input

## To Reproduce

`driver.findElement(By.id("my-input")).getAttribute("value");`

Previously returned the value in the input element, now returns null

## Environment

* OS: Windows +  Linux
* Browser: Chrome
* Browser version: 91.0.4472.77

[2021-06-01 17:38] diemol commented on #703
Please check https://groups.google.com/g/chromedriver-users/c/L82UzBKy58Q?pli=1

[2021-06-01 17:38] #703 closed, assigned to nobody

[2021-06-01 18:02] andyvanhelsing commented on #703
@diemol thanks for the quick response and link to the forum (this seems like really good resource) -- I am using Selenium in java, is there an equivalent to the get_property() method mentioned in the thread you sent?

[2021-06-04 11:46] diemol commented on #703
Apologies, I missed this reply. I think it is `.getDomProperty()` in recent Selenium betas. For more questions, please join us in our Slack/IRC channel https://www.selenium.dev/support/

[2021-07-07 09:23] tomas-eklund opened #725 "Documentation on how to invoke user script"
## 🚀 Feature Proposal for the site or the documentation

People new to the Selenium world would probably benefit greatly from a step-by-step, super simple, getting started "Hello world" tutorial. How to install the necessary components, writing your first script and _how to execute it_.

## Motivation

I had to port a simple web scraping solution from PhantomJS/CasperJS to Selenium and I read thro

[2021-07-09 10:02] manodipmachinesense opened #726 "Relative Locator withTagName() method not working by using latest selenium-java maven repository"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see https://selenium.dev/support/

Hi,

I have used latest selenium version i.e. 4.0.0-beta-4

<dependency>
    <groupId>org.seleniumhq.selenium</groupId>
    <artifactId>selenium-java</artifactId>
    <version>4.0.0-beta-4</version>
</dependency>

But th

[2021-07-11 15:24] harsha509 commented on #726
Hi @manodipmachinesense,

Relative locator in Java bindings now `starts with any locator, not just tag name`

This change was landed in Selenium4 beta 3, it is also mentioned in changelog in [here ](https://github.com/SeleniumHQ/selenium/blob/trunk/java/CHANGELOG)

The code samples in the documents are updated for the same. You can take reference from [here ](https://www.selenium.dev/documentation

[2021-07-11 15:24] #726 closed, assigned to nobody

[2021-07-12 07:35] manodipmachinesense commented on #726
Hi @harsha509 ,

Thanks for your information, now it's working as expected....
One request from my side in selenium.dev documentation section the link you have shared above, there import of Relative locator need to modify, Please have a look.

![selenium](https://user-images.githubusercontent.com/48321314/125248608-defcf100-e311-11eb-82ec-5185af965e9e.png)

[2021-07-12 11:02] harsha509 commented on #726
Hi @manodipmachinesense,

Thanks for pointing it out.

I have updated it!

[2021-07-14 10:27] Catalin-Negru opened #727 "Removal of multilingual feature"
Hi.
_**I'm Catalin Negru and I'm a tester, and this is the issue I want to address:**_
____________

**MOTIVATION:**
- I use Selenium a lot at work.
- I read the entire documentation from here.
- Everyone who worked at Selenium deserves appreciation.
- I want to help.

**SITUATION:**
- There are a lot of things that can be improved, and sure many of us have ideas.
- Everybody understands the scope

[2021-07-22 12:01] vedangnaik opened #729 "Broken links in Java API documentation search bar"
## 🐛 Bug Report

The search box in the Java API documentation goes to a 404 page when searching for `ChromeOptions` and clicking the autocomplete link for the same. This appears to be an issue when searching for any Type or Member in general.

## To Reproduce

1. Go to https://www.selenium.dev/selenium/docs/api/java/overview-summary.html .
2. Type `ChromeOptions` in the search box in the top-right

[2021-07-22 12:05] vedangnaik commented on #729
The culprit appears to be this 'undefined' in the link:  `www.selenium.dev/selenium/docs/api/java/**undefined**/org/openqa/selenium/chrome/ChromeOptions.html` .
Removing it leads to the correct page in every instance I've tested. I'd be happy to investigate this further and submit a fix.

[2021-07-26 14:48] diemol commented on #727
👋 @Catalin-Negru, thank you for creating this issue.

We are working on improving the way contributions can be made to the docs and website. However, our [contribution guidelines](https://www.selenium.dev/documentation/en/contributing/) mention what to do in the cases you refer in your comments.

On the other hand, assuming that everyone must speak English is quite radical and basically limits the

[2021-07-26 17:10] Catalin-Negru commented on #727
@diemol, thank you for the answer.
I missed that last point from Step 3 described on the _contribution guidelines_ page.
Best.

[2021-07-27 17:19] allenabc opened #731 "Relative Locator > near () distance python"
## 🐛 Bug Report

Did you find something wrong with the site or the documentation? Please describe
your finding in a clear and concise way.

## To Reproduce

How can we reproduce the issue you found? Please tell us how we can do that.
Don't forget to add:

* Absolute link where the issue was found
* Screenshot (if needed)
* The environment you had when the issue was found (see below)

Tell us the d

[2021-08-01 20:54] Catalin-Negru commented on #727
@diemol, hi.
_I'm writing this off-topic here because I do not know how/where to ask you in other way._

**I think that the website should have a table of contents.**
But, given that this requires quite some work, I want to know beforehand if it would be accepted.
What do you say?

Best.

[2021-08-03 13:33] muhammad-bassiouni opened #733 "Using selenium capabilities to create electron-like desktop applications in python"
I was wondering if I can create electron-like desktop applications in python using selenium. considering that selenium get full control of the browser by executing js code and get the function return back, and so this gives the ability to make like python_js bridge.
I have tried using CEF python, it is great but lacks some functionalities. I see that the combination of both selenium and cef will b

[2021-08-03 15:58] harsha509 commented on #733
Hi,

This issue tracker is only for Selenium documentation.

This looks like a question that is best suitable in [here](https://github.com/SeleniumHQ/selenium/issues/new/choose) with the template 'Questions / Help'.

Hope this helps!

Thanks,
Harsha

[2021-08-03 15:58] #733 closed, assigned to nobody

[2021-08-04 11:26] diemol commented on #727
You can always jump to our Slack/IRC channel to ask questions, links can be seen at https://www.selenium.dev/support/

So, what do you mean by a table of contents?
Also, we are almost done redoing our site, here is the preview https://deploy-preview-730--jovial-austin-42fe02.netlify.app/

[2021-08-06 11:29] sethutks opened #735 "Chrome Dev Tools createSession method not working"
To Reproduce:

Chrome Browser Version: 92
Selenium Version: 4.0.0-beta-4

**Code Reference**: https://www.selenium.dev/documentation/en/support_packages/chrome_devtools/
I tried the code piece from Selenium dev and it is not working.
ChromeDriver driver = new ChromeDriver();
DevTools devTools = driver.getDevTools();
devTools.createSession();

createSession method returns exception. Stack trace att

[2021-08-06 11:41] diemol commented on #735
This is a duplicate of https://github.com/SeleniumHQ/selenium/issues/9676, which was fixed in `trunk` and will be available in the next release. For now, if you use Java 11 it will work.

[2021-08-06 11:41] #735 closed, assigned to nobody

[2021-08-06 11:47] sethutks commented on #735
Thanks diemol

[2021-08-08 13:23] egor-andrushko opened #736 "Search field doesn't work"
## 🐛 Bug Report

No results displayed after pressing the bttn "Enter" when user is trying to search by something
**Error "Uncaught TypeError: Cannot read property '_index' of undefined" displayed in Console**

## To Reproduce
* https://www.selenium.dev/documentation/getting_started/
* ![image](https://user-images.githubusercontent.com/38658386/128633155-edac082d-8cfc-480a-be39-51a9db8bb9a9.png)

*

[2021-08-08 18:54] diemol commented on #584
We have re-done the website and this section is not there anymore. In any case, we are always open to suggestions.

[2021-08-08 18:54] #584 closed, assigned to nobody

[2021-08-09 11:45] jargonised opened #738 "Possibility to come back to the old design"
## 🚀 Feature Proposal for the site or the documentation

Option to choose new or old design.

## Motivation

I started using documentation some time ago. Style was clear and easy for reading, modern. It was really nice. Now, it's all bright and the code in frames isn't as pleasant to read as it was.

## Example

[2021-08-09 19:21] abhi-singhs commented on #525
@diemol Latest UI changes don't incorporate this feature. This issue should be reopened.
Happy to take it up.

[2021-08-09 20:01] diemol commented on #525
@abhi2810, good idea.

Could you raise this in https://github.com/google/docsy/, and then when it is fixed there we can downstream it? (Assuming they would accept it).

[2021-08-09 20:22] abhi-singhs commented on #525
Ok @diemol.
I will update here if they accept it.

[2021-08-10 10:49] abhi-singhs opened #740 "WebDriver Bidi APIs Java example does not work"
## 💬 Questions and Help
The Java Bidi APIs example doesn't work because it is implemented with Firefox and FirefoxDriver doesn't implement the HasLogEvents interface.
https://www.selenium.dev/documentation/webdriver/bidi_apis/
## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a hel

[2021-08-10 11:41] diemol commented on #740
Please create an issue in the Selenium repo with all the fields from the template filled out.

[2021-08-10 11:41] #740 closed, assigned to nobody

[2021-08-11 08:14] diemol commented on #736
At some point I was able to reproduce, but I wanted to have a look today and I cannot anymore. Are you still able to reproduce the issue?

[2021-08-11 08:31] diemol commented on #738
What exactly do you find bright? The code samples or the text background?

These are the available styles for code markup https://xyproto.github.io/splash/docs/all.html

[2021-08-11 13:27] egor-andrushko commented on #736
I can't reproduce it anymore

[2021-08-11 13:27] #736 closed, assigned to nobody

[2021-08-11 20:53] prafair opened #742 "Scrolling on mobile doesn't work for a few seconds when the page opens"
## 🐛 Bug Report

Scrolling on mobile doesn't work for a few seconds when the page opens.

## To Reproduce

https://www.selenium.dev/
Open a page and scroll down.

https://user-images.githubusercontent.com/15040493/129101432-9b7b8396-4142-425b-826f-e5eed799f835.mp4

## Expected behavior

The page should scroll from the first seconds.

## Environment

* OS: Android
* Browser: Chrome
* Browser versio

[2021-08-12 08:29] sbui2 opened #744 "Switch code example for all in a page"
## 🚀 Feature Proposal for the site or the documentation

Switch to one programing language in any example, all other example should be switched to same language too.

## Example

For every help page, we can see in each example, there's some tabs for each programming language.
If I'm using C#, I'll always looking for code of C#, I don't care other language.
I suggest that If I switch to C# language

[2021-08-12 08:58] diemol commented on #744
This is being [worked upstream](https://github.com/google/docsy/issues/654) by @abhi2810 (thanks!)

When it gets accepted, we will downstream it.

[2021-08-12 08:58] #744 closed, assigned to nobody

[2021-08-16 08:32] diemol commented on #742
This might be an issue with the offline search, when I load the page I can see it takes a while until it loads and interacting with the website is laggy. Probably we need to have a look and switch to Algolia.

[2021-08-18 14:21] abhi-singhs commented on #744
@diemol Got the PR merged. I think we can pull it downstream from docsy.

[2021-08-19 08:00] diemol commented on #744
Thanks for the heads up, I just updated Docsy and deployed the site again. Thank you for working on this, @abhi2810!

[2021-08-19 09:38] diemol commented on #731
💬 It looks like this is a question rather than an issue.
  💡 A better way to address this is:
  * 📫 Send questions and support requests to the [Selenium user group](https://groups.google.com/forum/#!forum/selenium-users)
  * 📮 Post them to [StackOverflow](https://stackoverflow.com/questions/tagged/selenium)
  * 🗣 Join us in the [IRC/Slack channel](https://www.selenium.dev/support/) where the commu

[2021-08-19 09:38] #731 closed, assigned to nobody

[2021-08-20 08:27] diemol commented on #742
Hm, seems it is not related to the search, but rather to a download that blocks the main thread. I am having a look soon.

[2021-08-20 14:38] diemol commented on #742
So, it is actually related to the offiline search, I am disabling search for a while until we find an alternative, https://github.com/SeleniumHQ/seleniumhq.github.io/pull/749.

[2021-08-20 15:13] diemol commented on #742
Ok, this is fixed now. Adding a new search engine will be treated in a different PR.

[2021-08-20 15:13] #742 closed, assigned to nobody

[2021-08-23 09:07] diemol commented on #738
Closing as we did not get more feedback.

[2021-08-23 09:07] #738 closed, assigned to nobody

[2021-08-24 03:22] wujr5 opened #750 "Stuck in this link: https://www.selenium.dev/documentation/getting_started/installing_browser_drivers/"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/7693440/130550046-c1d28d37-196c-47a0-88a7-e5b814034f1a.png)

As shown in figure above, I visit this link: https://www.selenium.dev/documentation/getting_started/installing_browser_drivers/ , and I click `JavaScript` tab, the browser stuck and nothing happens. A few minutes later, the browser prompts me the figure below.

![image](

[2021-08-24 21:10] diemol commented on #750
Thank you for reporting this, it seems this PR is causing the page to block itself
https://github.com/google/docsy/commit/8b253ac0b65447502f259f11fc888a0363da34ee

I am trying out a local fix and I will send a PR upstream.

[2021-08-24 21:17] diemol commented on #750
I created a PR to fix this https://github.com/google/docsy/pull/669

[2021-08-24 21:25] diemol commented on #750
@wujr5, no need to apologise! I am not a native speaker either, we are all here learning 🤗

[2021-08-24 23:18] o-alquimista opened #751 "Some pages completely freeze the browser tab on Firefox and Chromium"
### Description
The scripts in some pages are causing the browser tab to freeze.

The CPU usage goes high and the browser shows a warning that the page is slowing my computer down. Nothing shows on the browser console, so I can't provide any useful logs.

### To reproduce
1. Go to https://www.selenium.dev/documentation/webdriver/
2. Click on "browser manipulation" or "locating elements". It freeze

[2021-08-25 02:23] wujr5 commented on #751
I have the same problem.

[2021-08-25 02:26] wujr5 commented on #750
@diemol Thanks for your work.

It seems that you fixed the 'switch tab' problem, but I still stuck in this link:  https://www.selenium.dev/documentation/getting_started/installing_browser_drivers/, the same as this issue #751

[2021-08-25 05:06] diemol commented on #751
This is a duplicate of #750

[2021-08-25 05:06] #751 closed, assigned to nobody

[2021-08-25 05:08] diemol commented on #750
Yes, the tabs are the ones causing the issue. Our website uses Docsy, a Hugo theme. I sent the PR to Docsy directly and when it gets merged then I can update our website to get the fix.

[2021-08-26 08:01] diemol commented on #750
I went back to a [previous commit](https://github.com/SeleniumHQ/seleniumhq.github.io/commit/efd51c2e509e678277b6128c0c70a024a4b054f1) to avoid this issue, so we can close this.

[2021-08-26 08:01] #750 closed, assigned to nobody

[2021-09-08 16:20] titusfortner opened #760 "Edit Links Broken in Docs"
## 🐛 Bug Report

Edit links are going to:
`dev/content/en/documentation/webdriver/bidi_apis.en.md`
when they should be going to :
`dev/website_and_docs/content/documentation/webdriver/bidi_apis.en.md`

The solution might be changing this line https://github.com/SeleniumHQ/seleniumhq.github.io/blob/dev/website_and_docs/config.toml#L150-L151
to `"website_and_docs/"`, but it is also adding `"en"`, wh

[2021-09-17 20:04] REP-EQUIPO opened #764 "Selenium Overview"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see https://selenium.dev/support/

[2021-09-18 08:23] kevin1101 opened #765 "How to set a browser on the top of the desktop?"
## 💬 Questions and Help

I opened four browsers
when i check the first one and do some test
i used `this.driver.manage().window().fullscreen();` at the first
but other windows always cover on the top of the first window in the testing
so ,
i want to know how to set a browser on the top of the desktop.

[2021-09-18 18:59] diemol commented on #765
💬 It looks like this is a question rather than an issue.
  💡 A better way to address this is:
  * 📫 Send questions and support requests to the [Selenium user group](https://groups.google.com/forum/#!forum/selenium-users)
  * 📮 Post them to [StackOverflow](https://stackoverflow.com/questions/tagged/selenium)
  * 🗣 Join us in the [IRC/Slack channel](https://www.selenium.dev/support/) where the commu

[2021-09-18 18:59] #765 closed, assigned to nobody

[2021-09-18 20:08] #764 closed, assigned to nobody

[2021-09-20 13:17] #760 closed, assigned to nobody

[2021-10-11 10:52] shs96c opened #788 "Document the Node `--hub` flag"
## 🚀 Feature Proposal for the site or the documentation

The `NodeFlags` contains a `--hub` flag that allows a node to configure `--grid-url`, `--publish-events` and `--subscribe-events` in one go, setting these to default values unless otherwise overridden. This allows someone to add a node to a default configured Hub using `./selenium node --hub hub-address`

## Motivation

We were getting a lot

[2021-10-13 17:46] defnngj opened #800 "[py] BiDi APIs for python That's too bad"
## 🐛 Bug Report

https://www.selenium.dev/documentation/webdriver/bidi_apis/

* Register Basic Auth

* Mutation Observation

[code]

Python(selenium) has no `dirver.log`
How is `pages` defined?

I tried to modify the code as follows:

[code]

running error:

[code]
Must asyncio be used？ Why provide asyncio examples, and incomplete？

## To Reproduce

null

## Expected behavior

null

## Test script

[2021-10-13 18:37] diemol commented on #800
Thank you for the feedback, you are right, examples should be more complete. I will move this to the website and docs repo.

[2021-10-22 03:42] vedangnaik commented on #729
Hi, I've not really had time since I opened this issue to work on it. In case my previous comment is preventing someone else from working on this: please consider it open. I am unlikely to have time to look into it.

[2021-10-23 19:52] code-reaper08 opened #811 "[🐛 Bug]: Navbar toggler not visible on mobile devices."
### What happened?

# Navbar toggler not visible on mobile devices

## Steps to reproduce the bug:
1. Go to https://www.selenium.dev/
2.  We can see, navbar toggler is not visible, but working fine.

## Screenshot:

![image](https://user-images.githubusercontent.com/64256342/138569593-5d83ca74-aa3e-4112-9216-59f3013abf57.png)

### What browsers and operating systems are you seeing the problem on?

[2021-10-25 09:49] 312855935 opened #813 "[🐛 Bug]: C# get chrome-version:81.0.4044.138 x64 Session Storage Error"
### What happened?

**use Selenium C# get the chrome-version:81.0.4044.138 x64 Session Storage，Exception:Driver doest not support manipulating HTML5 web storage. Use the HasWebStrorage property to test the driver capability**

now:
`
RemoteWebDriver remote=(RemoteWebDriver )selenium;
string vuex=remote.WebStorage.SessionStorage.getItem("vuex");
//the code can use Other Chrome Version:Ex  62  75
`

[2021-10-25 10:51] diemol commented on #813
This is the repository for the website and documentation, for core Selenium issues, please open one here https://github.com/SeleniumHQ/selenium/issues/new/choose

[2021-10-25 10:51] #813 closed, assigned to nobody

[2021-10-25 11:33] #811 closed, assigned to nobody

[2021-10-25 18:27] JeffVM-Solutions opened #815 "[🚀 Feature]: BiDi APIs Register Basic Auth"
### Feature and motivation

Please add sample python code for BiDi APIs Register Basic Auth and Network Interception.

[2021-10-26 18:57] JeffVM-Solutions commented on #800
Any updates on this?

[2021-11-11 11:54] symonk commented on #800
I will fix the documentation for mutability observations this evening after work; yes `async` must be used and the examples are most likely based on some sort of `fixtures` (which imo is fine) w/r/t `pages`. p.s not sure if it relies on `trio` i haven't looked into it yet

[2021-11-17 12:48] alperenb commented on #800
has this been fixed?

[2021-11-20 14:07] ifarewell opened #856 "[🐛 Bug]: (Python) Webelement screenshot fucntion"
### What happened?

I am using selenium in python to implement an auto login scripts, during which I need to finish a captcha recognition task. I originally save the screenshot of the whole page and crop the captcha element according to its location information. In this process, everything works just fine.

And later on, I found the ele.screenshot() function that aims to finish the very task direc

[2021-11-20 14:36] ifarewell commented on #856
🤔 Maybe this issue should be posted at [SeleniumHQ/selenium](https://github.com/SeleniumHQ/selenium/issues)?

[2021-11-22 15:23] #856 closed, assigned to nobody

[2021-11-23 17:57] cameronlyman opened #857 "[🐛 Bug]: Relative Locators example code from Selenium documentation returns "Non-invocable member 'RelativeBy' cannot be used like a method""
### What happened?

Issue with the documentation can be found here: https://www.selenium.dev/documentation/webdriver/locating_elements/#relative-locators

When building, the example code fails to compile with the error: "Non-invocable member 'RelativeBy' cannot be used like a method".

### What browsers and operating systems are you seeing the problem on?

I am using C#, Microsoft Visual Studio, C

[2021-11-25 08:45] #857 closed, assigned to nobody

[2021-12-03 11:28] csankhala commented on #729
@diemol  This issue is marked duplicate of https://github.com/SeleniumHQ/selenium/issues/9766 and that is closed.

Can we mark this as closed?

[2021-12-03 13:21] diemol commented on #729
I believe this is not fixed yet, which is why we have not closed it.

[2021-12-03 19:20] diemol commented on #727
We just made a few changes addressing this https://www.selenium.dev/blog/2021/docs-translations/

[2021-12-03 19:20] #727 closed, assigned to nobody

[2021-12-07 19:12] titusfortner opened #864 "[🌍 Translation]: IDE Documentation"
### What needs to be translated

#844 needs translating.

1. Update the placeholder document with translation
2. Remove the `needsTranslation` metadata at the top of the file
3. Commit update and avoid referring to this PR in your commit message, so the issue doesn't automatically close before other translations have been updated
4. Push update directly to `dev`
5. Remove the label from this Issue

[2021-12-07 21:34] titusfortner opened #866 "[🌍 Translation]: Internet Explorer Page"
### What needs to be translated

#845 needs translating

[2021-12-07 21:35] titusfortner opened #867 "[🌍 Translation]: Capabilities section"
### What needs to be translated

#846 needs translating. Mostly titles and the pageLoadStrategy section of shared file

[2021-12-07 21:36] titusfortner opened #868 "[🌍 Translation]: Selenium Library Installation page"
### What needs to be translated

#824 needs translating. These are full content updates for working with Selenium Libraries

[2021-12-07 21:37] titusfortner opened #869 "[🌍 Translation]: Installing Browser Drivers Page"
### What needs to be translated

#825 needs translating. This is a complete content update for working with browser drivers.

[2021-12-08 18:35] titusfortner opened #870 "[🌍 Translation]: Browser Page"
### What needs to be translated

#865 Splits content from one file into multiple. New page titles might need updating.

[2021-12-12 14:49] michallbanas opened #878 "[🐛 Bug]: Broken link"
### What happened?

I want to report a broken link that leads to error 404. I found it in the [Getting Started](https://www.selenium.dev/documentation/webdriver/getting_started/) section. You can see the details in the attached screenshots. It is the element '<a href="/grid">Selenium Grid</a>'. xPath is '/html/body/div/div[1]/div/main/div/ol/li[3]/a'.

<img width="1680" alt="brokenLink" src="https

[2021-12-12 15:17] #878 closed, assigned to nobody

[2021-12-18 06:40] alaahong commented on #868
Completed zh-cn by #882

[2021-12-18 06:40] alaahong commented on #870
Completed zh-cn by #882

[2021-12-18 06:41] alaahong commented on #869
Completed zh-cn by #882

[2021-12-18 06:41] alaahong commented on #867
Completed zh-cn by #882

[2021-12-18 06:50] alaahong opened #886 "[🐛 Bug]: ref link display in pageinfo incorrectly"
### What happened?

All languages of "chrome_devtools" are meeting such issue.

The ref link is fine in content, but can't display well in pageinfo, source code is as below
`    [WebDriver Bidi APIs]({{< ref "bidi_api.md" >}} `
Screenshot on en page https://www.selenium.dev/documentation/webdriver/bidirectional/chrome_devtools/
![image](https://user-images.githubusercontent.com/3264250/146632186-2

[2021-12-18 19:22] #886 closed, assigned to nobody

[2021-12-18 19:22] diemol commented on #886
Thank you for reporting this, @alaahong!

[2021-12-18 20:48] kzhirata commented on #870
Translated to Japanese by #887

[2021-12-18 20:49] kzhirata commented on #869
Translated to Japanese by #887

[2021-12-18 20:51] kzhirata commented on #868
Translated to Japanese by #887

[2021-12-19 08:39] romesh33 opened #889 "[🐛 Bug]: typo in documentation/webdriver/elements/locators/ page"
### What happened?

There is a typo 'loctor' instead of 'locator' in the text on the page https://www.selenium.dev/documentation/webdriver/elements/locators/#how-it-works:

### What browsers and operating systems are you seeing the problem on?

Chrome 96.0.4664.110
Mac OS Monterey 12.1

[2021-12-19 09:32] diemol commented on #889
Good catch! Would you like to send a pull request to fix it?

[2021-12-19 11:59] kzhirata commented on #867
Translated to Japanese by #890

[2021-12-19 16:44] alaahong opened #891 "[🐛 Bug]: linkText and partialLinkText in locators page"
### What happened?

As the introduction of https://www.selenium.dev/documentation/test_practices/encouraged/locators/
“Selection strategies based on linkText and partialLinkText have drawbacks in that they only work on link elements. **Additionally, they call down to XPath selectors internally in WebDriver.**”

Are they actually calling as XPath?

Just check the [W3C spec](https://www.w3.org/TR/we

[2021-12-20 13:33] kzhirata commented on #864
Translated to Japanese by #893

[2021-12-21 05:28] harsha509 commented on #889
Thank you for raising the issue @romesh33 !

Fixed with this  [commit](https://github.com/SeleniumHQ/seleniumhq.github.io/commit/6f0eafc28a1e1a35e35f6def0991a72693e69af5) !

[2021-12-21 05:28] #889 closed, assigned to nobody

[2021-12-21 05:40] kzhirata commented on #866
Translated to Japanese by #895

[2021-12-21 08:02] sunonmountain opened #896 "https://www.selenium.dev/selenium/docs/api/py/webdriver_support/selenium.webdriver.support.expected_conditions.html?highlight=expected[🐛 Bug]:"
### What happened?

Hello,

The following link in (https://www.selenium.dev/documentation/) has had its contents [removed.](https://www.selenium.dev/selenium/docs/api/py/webdriver_support/selenium.webdriver.support.expected_conditions.html?)
highlight=expected

The link above does work but the section detailing the various python expected conditions has been removed
![Screenshot 2021-12-21 074958]

[2021-12-23 03:28] titusfortner opened #903 "[🌍 Translation]: First Script Page"
### What needs to be translated

PR #875
The main page I deleted a bunch of code, mostly just needs a link to the new page
The first_script pages needs a full translation

[2021-12-24 14:01] alaahong commented on #903
PR #905  for this.

[2021-12-26 06:15] titusfortner opened #906 "[🚀 Feature]: Add Multi-touch documentation"
### Feature and motivation

From https://github.com/SeleniumHQ/selenium/issues/10049

Add description / examples for using 2 pointer inputs and dragging in different directions, etc

[2022-01-03 05:19] kzhirata commented on #903
PR #909 for this.

[2022-01-03 12:05] alaahong commented on #864
Translated to Chinese by #911

[2022-01-04 14:39] ojintoad opened #912 "[🐛 Bug]: Documentation does not define Large/Middle/Small Grid sizes"
### What happened?

My team is planning on upgrading the grid and reviewed the [Getting started with Selenium Grid instructions.](https://www.selenium.dev/documentation/grid/getting_started/)

For the two Grid configuration types, it describes sizes of Grid infrastructure that each type is appropriate for.

* Hub and Node(s) -> "These roles are suitable for small and middle-sized Grids."
* Distrib

[2022-01-08 10:46] wafuwafu13 opened #916 "[🐛 Bug]: `Error building site` when run `hugo server`"
### What happened?

I read [contributing/#step-3-make-changes](https://www.selenium.dev/documentation/about/contributing/#step-3-make-changes) and run `hugo server`.

[code]

`SELENIUM_CI_TOKEN` is set at [workflows env](https://github.com/SeleniumHQ/seleniumhq.github.io/blob/24bba5c6ff5630abee9ba0be9648575a650aacfd/.github/workflows/deploy.yml#L23-L24), so can not read in local environment.

###

[2022-01-10 22:44] ajl275 opened #922 "[🐛 Bug]: First script example"
### What happened?

On the page: [https://www.selenium.dev/documentation/webdriver/getting_started/first_script/](url)
The complete script example in Java at the bottom of the page does not compile due to two errors, there is a missing semicolon on the line: `WebElement searchButton = driver.findElement(By.name("btnK"))` and a missing import statement: `import org.openqa.selenium.WebElement; `

##

[2022-01-10 22:51] diemol commented on #922
Would you like to send a pull request to help us fix it?
Please check https://www.selenium.dev/documentation/about/contributing/

[2022-01-11 18:08] ajl275 commented on #922
Sure, I can do that!

[2022-01-12 00:57] JasonHagler opened #923 "[🐛 Bug]: Documentation is Wrong"
### What happened?

The Documentation says to use find_element(By.*) but Python throws an error saying that By is not defined.

### What browsers and operating systems are you seeing the problem on?

Python 3.9

[2022-01-12 09:22] diemol commented on #923
Where do you see that? Can you share the link?

[2022-01-12 10:37] diemol commented on #933
@titusfortner has already moved most of them and we will continue with the ones that make sense.

[2022-01-12 10:47] diemol commented on #896
This has been already fixed.

[2022-01-12 10:47] #896 closed, assigned to nobody

[2022-01-12 16:15] #922 closed, assigned to nobody

[2022-01-12 16:16] titusfortner commented on #922
Oops, missed that you were making a PR and fixed it based on just reading the issue. I thought I'd addressed this in the PR that got merged this morning, but I didn't.

Thanks for raising the issue, and we would welcome any future contributions you'd like to make!

[2022-01-13 10:52] palbr opened #927 "[🐛 Bug]: Outdated documentation: "Fresh browser per test""
### What happened?

The documentation at https://www.selenium.dev/documentation/test_practices/encouraged/fresh_browser_per_test/ is recommending to start a new `FirefoxDriver` with a certain `FirefoxProfile`.

If I understand the API correct, Selenium 4.1.1 does not support creating a new `FirefoxDriver` with a `FirefoxProfile` as parameter.
See [Selenium Java API for FirefoxDriver](https://www.s

[2022-01-13 11:08] palbr commented on #927
A new version of this code sample could be:

    FirefoxProfile profile = new FirefoxProfile(new File("pathToFirefoxProfile"));
    WebDriver driver = new FirefoxDriver(new FirefoxOptions().setProfile(profile));

Inserted `new FirefoxOptions().setProfile(`. And a closing parenthesis.

[2022-01-13 13:47] titusfortner commented on #927
Thanks for raising the issue, would you like to make a pull request with your solution?
Contributions guide is here — https://www.selenium.dev/documentation/about/contributing/

[2022-01-14 11:54] palbr commented on #927
I think, setting up a development environment for Selenium (git clone, git fork, installing hugo, ...) and reading hugo manuals will take more time than I can afford at the moment. And comparing this time consumption against the "real work" of changing two line in the documentation seems to me like a very bad ratio.

[2022-01-14 12:08] diemol commented on #927
Strange. Given that you have already contributed in the past, we thought it'd be a nice way to keep giving back to this project.

But ok, we will find a way to make contributions more simple then. Thank you for the feedback.

[2022-01-14 14:18] titusfortner commented on #927
Installing Hugo and previewing changes isn't strictly required, though we would appreciate any code updates being made in all 4 of the language files.

And, yes, our hope is that you would continue to help us make the documentation better, which would make the forking/cloning more worth your time. But thank you for raising this issue, either way.

[2022-01-18 08:06] veenadevi opened #930 "[🐛 Bug]: 404 in Ruby documentation "TimeoutError.html""
### What happened?

1. Open https://www.selenium.dev/selenium/docs/api/rb/index.html
2. Click WebDriver->Wait from left frame, it navigates to "https://www.selenium.dev/selenium/docs/api/rb/Selenium/WebDriver/Wait.html"
3. Scroll to the bottom and click TimeOutError

![image](https://user-images.githubusercontent.com/2890751/149895421-967ca23f-a5d6-4eb7-83e5-835cabfc8df9.png)

Actual Result
Gettin

[2022-01-19 20:45] titusfortner commented on #933
I didn't finish this, so I'm reopening this and moving it to documentation so we can keep track of it.

[2022-01-19 20:49] titusfortner opened #934 "[🚀 Feature]: Execute Example Code"
### Feature and motivation

GitHub Actions should execute the example code that has been added.

We should also add a bullet to release process to update the Selenium requirements in each project on every new release.

[2022-01-22 09:03] alaahong commented on #866
Translated to Chinese by #939

[2022-01-29 09:13] KyleC69 opened #944 "Missing Documentation.[🐛 Bug]:"
### What happened?

This page displays link to Advanced configuration options.

https://www.selenium.dev/documentation/webdriver/getting_started/install_drivers/

This page displays no information at all. Advanced configuration options/parameters should be a must have. There are many scenarios that are not covered in any of your documentation and forces users to hunt on the internet for a possible

[2022-02-04 08:27] dominikb1888 commented on #923
Here: https://github.com/SeleniumHQ/seleniumhq.github.io/blob/dev/examples/python/tests/getting_started/test_first_script.py

[2022-02-04 11:01] diemol commented on #891
@titusfortner, do you know?

[2022-02-04 11:20] alaahong commented on #891
Thanks diego's following.

Just double check the [JavaScript implmentation](https://github.com/SeleniumHQ/selenium/blob/9c748fa68778f5bede17cb16135d3f801deab299/third_party/closure/goog/dom/dom.js#L311), the linkText is implemented by  querySelectorAll a the W3C spec mentioned.

I can't find out the detail behind of linkText and particalLinkText in Java, but seems no reason to make them based on X

[2022-02-04 17:30] titusfortner commented on #891
Yes, I think that reference is based off of the original find element atoms that were used when Selenium maintained all of the drivers in our codebase. Now the implementation depends on whatever the browser vendor decides to do.

A lot of things in the test practices section can/should get overhauled/updated/deleted :)

[2022-02-08 08:23] gigacodr opened #950 "[🐛 Bug]: Missing Documentation for "Override Device Mode" PYTHON"
### What happened?

Documentation for Python in 'Override Device Mode' section missing:

https://www.selenium.dev/documentation/webdriver/bidirectional/chrome_devtools/#override-device-mode

Are dev tools protocol not available for Python?

https://chromedevtools.github.io/devtools-protocol/tot/Emulation/#method-setDeviceMetricsOverride

### What browsers and operating systems are you seeing the p

[2022-02-10 10:17] diemol commented on #891
Closed via #947

[2022-02-10 10:17] #891 closed, assigned to nobody

[2022-02-10 16:19] tarekahf opened #952 "When adding Selenium.WebDriver to C# project using VSCode, the project doesn't compile"
### What happened?

I was following the steps here:

https://www.fleekitsolutions.com/use-selenium-c-visual-studio-code/

To use Selenium 4 with vs code. I installed .NET 5 and .NET 6 SDK.

I created the sample Hello World Project using `dotnet new console` and tried to import the Selenium.WebDriver package using NuGet, and run `dotnet restore`, I get the following error:

`error NU1100: Unable to

[2022-02-10 18:09] diemol commented on #952
Duplicate of https://github.com/SeleniumHQ/selenium/issues/10354

[2022-02-10 18:09] #952 closed, assigned to nobody

[2022-02-12 18:34] kuba-orlik opened #953 "[🚀 Feature]: Explain how to import the driver in JS"
### Feature and motivation

While reading the driver guide, it recommends the following code:

[code]

But id doesn't say how to import the `firefox` and `Builder` objects.

[2022-02-13 14:51] harsha509 commented on #953
HI @kuba-orlik ,

We have precise documentation on how to use Firefox capabilities in [here](https://www.selenium.dev/documentation/webdriver/capabilities/firefox/#define-capabilities-using-firefoxoptions), along with imports for the reference.

If possible, could you please provide me the link where the above code is taken reference from ? so that we can take a look and fix it if necessary!

Than

[2022-02-14 08:38] kuba-orlik commented on #953
I'm talking about this page:

https://www.selenium.dev/documentation/webdriver/getting_started/open_browser/#firefox

It was the first page I encountered when diving into exploring Selenium and it left me a little bit confused! ;)

[2022-02-15 02:55] hgcai3456 opened #956 "[🐛 Bug]:"
### What happened?

implicitlyWait() was removed from Selenium Java.

### What browsers and operating systems are you seeing the problem on?

Chrome, Windows 10

[2022-02-18 08:01] diemol commented on #956
This was not removed https://www.selenium.dev/documentation/webdriver/waits/#implicit-wait
The parameters changed after a long time deprecation.

[2022-02-18 08:01] #956 closed, assigned to nobody

[2022-02-20 19:50] nicolas-chan-42 commented on #654
The following are based on my understanding after reading the documentations. Hope that they are clear enough for you.

## Default Behaviour - normal
The default behaviour of Selenium is to wait until the whole HTML document and stylesheets and images and more to complete their loading. To be more specific, it is when the [`load`](https://developer.mozilla.org/en-US/docs/Web/API/Window/load_event

[2022-02-20 20:57] nicolas-chan-42 opened #959 "[🐛 Bug]: Documentation of "Information about web elements" page is missing contents for isDisplayed and Attributes and Properties"
### What happened?

In the Selenium documentation, the article [Information about web elements](https://www.selenium.dev/documentation/webdriver/elements/information/) is missing contents for:
- [isDisplayed](https://www.selenium.dev/documentation/webdriver/elements/information/#is-displayed), and,
- [Attributes and Properties](https://www.selenium.dev/documentation/webdriver/elements/information/

[2022-02-21 10:17] diemol commented on #654
Thank you for your comment, @nicolas-chan-42!

Would you like to create a PR with a summarized version of this content for this page? https://www.selenium.dev/documentation/webdriver/capabilities/shared/#pageloadstrategy

[2022-02-22 22:15] mjhymowitz opened #960 "[🐛 Bug]:"
### What happened?

I am trying to access elements using the xpath and this error showed up in the output
My code: Python
[code]

DevTools listening on ws://127.0.0.1:56738/devtools/browser/00c9eb1b-df43-4957-a055-b438dbc0a159
[22352:15004:0222/134637.327:ERROR:fallback_task_provider.cc(123)] Every renderer should have at least one task provided by a primary task provider. If a "Renderer" fallback

[2022-02-24 15:41] brieshiraz opened #961 "[🐛 Bug]: Instructions for Install Browser Driver missing steps"
### What happened?

Summary: When following 'Install Browser Driver' instructions, user is linked to a 'Downloads' page with no information about what to download or how.

Steps to reproduce:
1. As a new Selenium Webdriver user, start at the beginning of the the 'Getting Started' guide at https://www.selenium.dev/documentation/webdriver/getting_started/
2. After installing Selenium library, procee

[2022-02-25 11:56] freesme commented on #961
I ran into the same problem，You can try to add

`
System.setProperty("wdm.useMirror", "true");
`

before

`WebDriverManager.chromedriver().setup();`

[2022-02-28 12:34] raffaelemancuso opened #966 "[🐛 Bug]: clarify that Service should be instantiated from the browser-specific class"
### What happened?

In [this webpage](https://www.selenium.dev/documentation/webdriver/getting_started/install_drivers/) there is written:

[code]

But the argument to `Service.__init__`, as also described in the [documentation](https://www.selenium.dev/selenium/docs/api/py/webdriver/selenium.webdriver.common.service.html?highlight=service#module-selenium.webdriver.common.service), seems to be `ex

[2022-02-28 12:47] raffaelemancuso opened #967 "[🐛 Bug]: Selenium channel on freenode"
### What happened?

[This webpage](https://www.selenium.dev/selenium/docs/api/py/) says the selenium channel is on freenode, while [this one](https://www.selenium.dev/documentation/about/) says it is on LiberaChat

### What browsers and operating systems are you seeing the problem on?

Firefox

[2022-02-28 13:01] luisfcorreia commented on #967
Thanks for noticing, fixed by https://github.com/SeleniumHQ/selenium/pull/10403

[2022-02-28 13:01] #967 closed, assigned to nobody

[2022-02-28 21:08] VivienMrclt opened #968 "[🐛 Bug]: broken links"
### What happened?

Links in this section leads to 404 page. https://www.selenium.dev/documentation/webdriver/elements/finders/#optimized-locator. (links for `Locator strategy suggestions` and `Encouraged test practices`)

### What browsers and operating systems are you seeing the problem on?

Mac OS v11.6.2 (20G314)
Chrome  v98.0.4758.102

[2022-03-01 04:33] #968 closed, assigned to nobody

[2022-03-01 05:13] harsha509 commented on #966
Hi @raffaem,

May be you're looking into wrong documentation. webdriver-manager is a third party library. So you need to look webdriver-manager specific doc https://github.com/SergeyPirogov/webdriver_manager.

As per their documentation, it is how it works!

[code]
returns executable in short!

Hope this helps!

[2022-03-01 05:33] raffaelemancuso commented on #966
Hi @harsha509,

no I did not confuse the two projects, and I linked the Selenium's documentation, not webdriver-manager documentation.

However I was using the wrong workflow, as I was instancing `selenium.webdriver.common.service.Service`, which takes `esecutable` as an argument, instead of the browser-specific class, e.g. `selenium.webdriver.chrome.service.Service` which indeed takes `executable

[2022-03-01 05:42] harsha509 commented on #966
Got it.

Docs need to be updated on ` instantiating Service from the browser-specific class`. Would you help us with a PR if possible ?

Here are the [contribution guidelines](https://www.selenium.dev/documentation/about/contributing/) for reference!

[2022-03-04 16:13] #953 closed, assigned to nobody

[2022-03-10 21:54] diemol commented on #916
Fixed by #901

[2022-03-10 21:54] #916 closed, assigned to nobody

[2022-03-17 15:42] titusfortner opened #975 "File Upload Examples"
Was asked about file uploads in slack today, we don't have any examples.
The one example in Selenium 2 FAQ in legacy section includes an out of date hint that doesn't apply for w3c.

[2022-03-21 12:44] titusfortner commented on #975
Here's another issue requesting this info: https://github.com/SeleniumHQ/selenium/issues/10464

[2022-03-29 19:03] nicolas-chan-42 opened #976 "[🐛 Bug]: Explicit Wait Python examples are missing the required `timeout` argument"
### What happened?

In the section of [Explicit Wait](https://www.selenium.dev/documentation/webdriver/waits/#explicit-wait), the Python example code uses `WebDriverWait(driver)` but according to the [API reference of `selenium.webdriver.support.wait`](https://www.selenium.dev/selenium/docs/api/py/webdriver_support/selenium.webdriver.support.wait.html#selenium.webdriver.support.wait.WebDriverWait)

[2022-03-30 14:04] GregoryShen opened #977 "[🐛 Bug]: the parameter should be 'caps' instead of 'capabilities'"
### What happened?

In chapter "Upgrade to Selenium 4", The parameter of CSharp version should be 'caps' instead of 'capabilities', capture as below:
![image](https://user-images.githubusercontent.com/1592347/160853399-efcd4e9b-23d1-4d1b-83c8-49ceca656f4d.png)

### What browsers and operating systems are you seeing the problem on?

browser: Chrome
OS: Windows 10

[2022-03-30 14:10] luisfcorreia commented on #977
Can you please add a link to the specific page where you found that?

Thanks

[2022-04-07 09:31] #729 closed, assigned to nobody

[2022-04-09 17:00] ibodog opened #982 "[🚀 Feature]: Tracing docs need a lot more info"
### Feature and motivation

Wanted to try this out, but there is not enough info to get this working outside of the --trace logging to the console.  Easy to get Jaeger running. But not clear how to export traces in the dockerized grid & node-docker.

[2022-04-11 13:10] #977 closed, assigned to nobody

[2022-04-11 15:28] diemol commented on #976
@nicolas-chan-42, would you like to send a PR to fix this?

[2022-04-13 08:36] nicolas-chan-42 commented on #976
@diemol I am not planning to send a PR for this. Thank you.

But the fixed code examples should be as follows, in case someone is interested for sending a PR:

[code]

and

[code]

Please notice the addition of "`, timeout=10`" in both examples.

[2022-04-14 14:54] gidonk-pr opened #985 "[🐛 Bug]: Documentation CLI '--hub' option not documented"
### What happened?

spent hours trying to configure node-hub connection.
setup a toml config file on my node with:
[code]
only to find out that I need to replace `grid-url` with `hub` which is not even mentioned on the page I was following (https://www.selenium.dev/documentation/grid/configuration/cli_options/#node)

moreover - manually setting `publish-events`& `subscribe-events` have no effect o

[2022-04-16 04:46] rpallavisharma commented on #975
[Fileupload.docx](https://github.com/SeleniumHQ/seleniumhq.github.io/files/8499257/Fileupload.docx)
hope this helps

[2022-04-18 18:45] rohitb123 opened #993 "[🐛 Bug]: https://www.selenium.dev/documentation/webdriver/bidirectional/ : Last paragraph is not easy to understand and has grammar mistakes"
### What happened?

https://www.selenium.dev/documentation/webdriver/bidirectional/ : Last paragraph is not easy to understand and has grammar mistakes

Quoting the last paragraph : "Because it’s a bad idea to tie your tests to a specific version of a specific browser, the Selenium project recommends using WebDriver BiDi wherever possible. However, until the spec is complete there are many useful

[2022-04-21 09:28] diemol commented on #993
@rohitb123 would you like to send a PR to improve it?
Also, by CDP, it means https://chromedevtools.github.io/devtools-protocol/

[2022-04-21 20:48] diemol commented on #975
@pallavigitwork would you like to send a PR to add this content? If you need help with that, ping me in the Selenium Slack and I am happy to help you run the site locally so you can send the PR.

[2022-04-21 20:49] diemol commented on #985
Duplicate of #788

[2022-04-21 20:49] #985 closed, assigned to nobody

[2022-04-22 02:27] ghost commented on #976
I've made a PR: https://github.com/SeleniumHQ/seleniumhq.github.io/pull/998

[2022-04-22 04:08] rpallavisharma commented on #975
okay @diemol i will ping you on slack.

[2022-04-22 08:56] #976 closed, assigned to nobody

[2022-04-22 17:33] MrRahulR opened #1000 "[🐛 Bug]: Making Examples better and in common format in the site"
### What happened?

It looks like the document has many examples for each of the methods, which is a good thing but the example formats are different in each of the codes. I think it should be better to have the same code format in each of the examples and should be focused on the method only rather than pasting the entire example.

i.e. For `sendKeys`, we don't need to enter the entire example in

[2022-04-22 17:37] MrRahulR commented on #960
@mjhymowitz - It would be better if you can add the Title of the Bug.

[2022-04-22 17:56] harsha509 commented on #1000
Hi @MrRahulR,

I know where you're coming from !

There is a reason for pasting entire code sample in few places.

If we focus on '**method only**', the users are getting confused (as they want full code with imports to make it work). Someone who is new to selenium is unable to understand how "**sendKeys**" works without class and driver initialization code/imports.

Ex: https://github.com/Seleniu

[2022-04-22 18:23] MrRahulR commented on #1000
Okay @harsha509 , I got it now.

I like this idea, I'll try to add more GitHub snippets in the code and make it uniform across the site.

[2022-04-22 18:36] #1000 closed, assigned to nobody

[2022-04-25 01:00] mjhymowitz commented on #960
I solved the problem, somehow.

[2022-04-25 01:00] #960 closed, assigned to nobody

[2022-04-26 06:29] harsha509 commented on #923
HI @dominikb1888,

I have executed the code sample with new setup and I didn't see any issue executing it!

Could you please let us know if you're still facing this issue. ?

[2022-04-26 07:44] dominikb1888 commented on #923
@harsha509 I cannot exactly recall the setting anymore. I just remember, I had the same error message. The working code I ended up using looks equivalent to the example shown. I guess this must have been a package management issue.

[2022-04-26 08:16] diemol commented on #923
OK, thanks for letting us know, @dominikb1888. Closing this issue then.

[2022-04-26 08:16] #923 closed, assigned to nobody

[2022-04-29 15:26] ennioVisco opened #1005 "[🐛 Bug]: Docs - First Mouse Action example is wrong"
### What happened?

At line 14 of the first code block in Java example at [Mouse actions | Selenium](https://www.selenium.dev/documentation/webdriver/actions_api/mouse/) they want to search for the button to start a search, not to sign in, so the `"Sign In"` string should probably be replaced by `"Google Search"`.
The same issue is present also in the other languages.

### What browsers and operat

[2022-04-29 15:42] diemol commented on #1005
Would you like to send a PR to fix it?

[2022-05-01 07:30] alaahong opened #1008 "[🚀 Feature]: More details on bidirectional"
### Feature and motivation

Two kinds of proposals here.
1. How to figure out the difference between BiDi and CDP ?
As Firefox involved recently, it should be not in BiDi page if we have to import CDP with specific Chrome version, so any clear list to present what's the pure BiDi implement or specific Browser Vendor implementation?
e.g. When I try to work on below sample with Selenium 4.1.4
https:

[2022-05-04 13:21] #788 closed, assigned to nobody

[2022-05-11 16:59] ollie-iterators opened #1009 "[🚀 Feature]: Use code examples for Key up for the languages CSharp, Ruby, JavaScript, and Kotlin for the code examples for sendKeys for the same languages"
### Feature and motivation

I just noticed that the code examples for the "Key down" and "Key up" areas for the different languages on the URL: https://www.selenium.dev/documentation/webdriver/actions_api/keyboard/, both have the sendKeys function (in whatever form it is used in for the various languages). This means that those code examples could be an example of how to use the SendKeys code.

[2022-05-12 14:42] diemol commented on #1009
I do not understand the point of this issue, there are already examples for `sendKeys`

https://www.selenium.dev/documentation/webdriver/elements/interactions/#send-keys

[2022-05-13 16:57] ollie-iterators commented on #1009
I am talking about the examples on this URL: https://www.selenium.dev/documentation/webdriver/actions_api/keyboard/

[2022-05-13 17:14] diemol commented on #1009
I still don't understand. We have examples on both pages... Is there something that needs to be fixed?

[2022-05-15 15:16] ollie-iterators commented on #1009
<img width="1299" alt="2022-05-15_11-15-26" src="https://user-images.githubusercontent.com/46904826/168480143-47136606-6370-42a4-b8f7-722e95195326.png">
<img width="1299" alt="2022-05-15_11-15-08" src="https://user-images.githubusercontent.com/46904826/168480147-9ef770be-df65-48a5-a980-f1ad27b0fe51.png">
<img width="1299" alt="2022-05-15_11-14-54" src="https://user-images.githubusercontent.com/469

[2022-05-15 15:17] ollie-iterators commented on #1009
<img width="1299" alt="2022-05-15_11-16-51" src="https://user-images.githubusercontent.com/46904826/168480199-87bc6b9d-9665-4869-82af-2973132d8816.png">
<img width="1299" alt="2022-05-15_11-16-44" src="https://user-images.githubusercontent.com/46904826/168480201-0dd13b28-7400-42f7-94c2-6be71ef6bd41.png">
<img width="1299" alt="2022-05-15_11-16-37" src="https://user-images.githubusercontent.com/469

[2022-05-16 03:37] #1005 closed, assigned to nobody

[2022-05-16 16:13] gravityvi opened #1012 "[🐛 Bug]: frame command does not support using an ID or name directly"
### What happened?

We can't use frame command with ID or names like:
[code]
But as per [docs](https://www.selenium.dev/documentation/webdriver/browser/frames/#using-a-name-or-id), it says we can do that

### What browsers and operating systems are you seeing the problem on?

Across all browsers

[2022-05-16 17:29] harsha509 commented on #1012
Hi @gravityvi ,

Looks like JS doesn't have support for it. It needs to ne updated.

[2022-05-23 12:19] michaelpecan opened #1020 "[🚀 Feature]: bidi python examples"
### Feature and motivation

can you please add python examples to all bidi API use cases you have shown?
and would you show a full implementation or direct to a site that shows an example of implementing them (prefrable get console logs)

[2022-05-24 06:41] harsha509 commented on #1009
Closing as Code samples are in place for all tabs in here now

https://www.selenium.dev/documentation/webdriver/actions_api/keyboard/#send-keys

[2022-05-24 06:41] #1009 closed, assigned to nobody

[2022-05-26 15:20] alliv8 opened #1025 "[documentation] Broken link in shared capability page"
### What happened?

https://www.selenium.dev/documentation/webdriver/capabilities/shared/

https://www.selenium.dev/webdriver/waits gives a `404`

Not able to select documentation issue in the previous form

### What browsers and operating systems are you seeing the problem on?

Mac Chrome

[2022-05-26 16:29] harsha509 commented on #1025
Hi @[alliv8](https://github.com/alliv8),
Thank you for raising the issue!

I have fixed with new commit!

[2022-05-26 16:29] #1025 closed, assigned to nobody

[2022-05-27 19:45] erdoganb opened #1027 "[🐛 Bug]: deprecation warning"
### What happened?

Hello,
i was parsing some html with PYTHON. Ive encountered some warning.
Actually my parser is working good, bu in terminal, suggests to change them to newers.
And it is same on documentation.
First ive done it by documentation but, tried some code of older posts in web.
So

(Altough im not sure if im doing sth wrong but...)
When i follow the instructions on the terminal, it D

[2022-05-31 07:19] SinghHrmn opened #1029 "[🐛 Bug]: Hugo Install instructions link broken in README"
### What happened?

In [Quick Start](https://github.com/SeleniumHQ/seleniumhq.github.io#quick-start) we have Install Hugo link that points to instructions for installing Hugo locally. But the instructions have been moved to [https://www.docsy.dev/docs/get-started/other-options/#install-hugo](https://www.docsy.dev/docs/get-started/other-options/#install-hugo).

### What browsers and operating syste

[2022-05-31 07:24] #1029 closed, assigned to nobody

[2022-06-01 13:09] til-gsouza opened #1033 "[🐛 Bug]: Page loops in documentation"
### What happened?

On the [Install browser drivers page](https://www.selenium.dev/documentation/webdriver/getting_started/install_drivers/) text there is a reference for the [driver configuration page](https://www.selenium.dev/documentation/webdriver/drivers/), which has only a single line and a reference back to the  [Install browser drivers page](https://www.selenium.dev/documentation/webdriver

[2022-06-01 18:35] #1027 closed, assigned to nobody

[2022-06-03 21:06] crhew-vhb opened #1035 "[🐛 Bug]: UnhandledPromiseRejectionWarning: NoSuchSessionError: invalid session id on firstscript.js"
### What happened?

When running firstscript.js, I got the error shown in the title of the bug.  When I added an `await` to `search_box.getAttribute("value");`, I stopped getting the error.

### What browsers and operating systems are you seeing the problem on?

This is on Windows 10 using Version 102.0.5005.63 (Official Build) (64-bit) of Chrome and chromedriver version 102.0.5005.61, win32.

[2022-06-06 06:44] #1035 closed, assigned to nobody

[2022-06-06 13:43] crhew-vhb commented on #1035
The updated script is working.  Thank you!

[2022-06-06 22:41] testtesttest806 opened #1037 "[🐛 Bug]:"
<delete>

[2022-06-06 22:46] luisfcorreia commented on #1037
spam

[2022-06-06 22:59] #1037 closed

[2022-06-07 09:08] Qiuyangfeng commented on #1033
I have the same problem as you，really annoying

[2022-06-07 09:15] diemol commented on #1033
Yes, this content is missing. We'd be happy if you can help us to add that content, @til-gsouza @Qiuyangfeng

[2022-06-07 17:17] ollie-iterators opened #1038 "[🐛 Bug]: JavaScript Code for First Script Components 2 to 4 do not have any code in them"
### What happened?

I checked out the Selenium.dev/documentation site for the first script of Selenium and I noticed that the JavaScript First Script Components 2 - 4 JavaScript code does not contain any code.
<img width="1394" alt="2022-06-07_13-13-44" src="https://user-images.githubusercontent.com/46904826/172443442-d7971281-e174-4281-9b9c-4ad5ca35b917.png">
<img width="1394" alt="2022-06-07_13-

[2022-06-07 17:28] harsha509 commented on #1038
Hi @ollie-iterators,

Thanks for reporting the issue.

Looks like my commit to fix #1035 broke it!

Will fix it!

[2022-06-07 17:55] harsha509 commented on #1038
Fixed with commit https://github.com/SeleniumHQ/seleniumhq.github.io/commit/e748e98f10d8ff7fd6fa7e4f483e0117286233ea !

[2022-06-07 17:55] #1038 closed, assigned to harsha509

[2022-06-10 02:57] svadivel0006 opened #1042 "[🐛 Bug]: The Driver throws error when the Url is passed without "http://" or "https://""
### What happened?

The WebDriverManager/Driver throws error when the Url is passed without "http://" or "https://"

Screenshot:

Error Details:

![image](https://user-images.githubusercontent.com/85741928/172981226-a41015a8-bb85-4e1f-86c1-f82e07d2a8db.png)

Version Details:

![image](https://user-images.githubusercontent.com/85741928/172981256-ca4f32f6-ad6a-45b8-8998-8e9f33cc99b4.png)

Browser .e

[2022-06-13 05:30] diemol commented on #1042
This is expected, urls should be provided with the protocol.

[2022-06-13 05:30] #1042 closed, assigned to nobody

[2022-06-13 16:20] symonk opened #1059 "[🚀 Feature]: Update docs to reflect removal of `find_element_by` for `4.3`"
### Feature and motivation

Just a reminder for myself to update documentation around finding elements to explain the changes and `by_` methods are no longer available.

### Usage example

.

[2022-06-13 17:11] harsha509 commented on #869
pt-br translation is done with commit https://github.com/SeleniumHQ/seleniumhq.github.io/pull/1046 !

[2022-06-13 17:13] harsha509 commented on #869
Closing this as all translations are landed!

[2022-06-13 17:13] #869 closed, assigned to nobody

[2022-06-13 17:14] harsha509 commented on #903
PT-BR translation is landed with commit https://github.com/SeleniumHQ/seleniumhq.github.io/pull/1044!

[2022-06-13 17:14] harsha509 commented on #903
Closing as all pages are translated!

[2022-06-13 17:14] #903 closed, assigned to nobody

[2022-06-14 10:46] boris779 opened #1047 "[🐛 Bug]: In the blog for upgrading to Selenium 4 (Firefox)"
### What happened?

In the Upgrade to Selenium 4 in the Section for Firefox there seems to be an issue. The Before and After Codeexample are identical in the Browser Type section

[browsertype](https://www.selenium.dev/documentation/webdriver/getting_started/upgrade_to_selenium_4/#browsertype)

### What browsers and operating systems are you seeing the problem on?

Firefox 101, geckodriver 0.31.0

[2022-06-14 11:43] diemol commented on #1047
They are not the same, one is the old `BrowserType` interface, on the right there is the new **`Browser`** one.

![image](https://user-images.githubusercontent.com/5992658/173569231-e8d6dcd2-02c6-4d7d-a53e-0fc89e7f7e77.png)

[2022-06-14 11:43] #1047 closed, assigned to nobody

[2022-06-14 19:08] jlafleur93 opened #1049 "[🐛 Bug]: Ruby bindings link in download page"
### What happened?

1) Go to https://www.selenium.dev/downloads/
2) Scroll down to Ruby Bindings
3) Click on Ruby 4.2.2
4) Notice the page is not found on the ruby gems page
The last version of the bindings atm is 4.2.1 updated in pr below
#1048

### What browsers and operating systems are you seeing the problem on?

Chrome Windows 10

[2022-06-16 17:08] harsha509 commented on #1049
Thank you for fixing it @jlafleur93 !

This is fixed with PR https://github.com/SeleniumHQ/seleniumhq.github.io/pull/1048!

[2022-06-16 17:08] #1049 closed, assigned to nobody

[2022-06-17 18:12] boris779 commented on #1047
Thx and sorry, I compared it three times and didn't saw the difference

[2022-06-19 00:36] lread opened #1052 "[🐛 Bug]: Linked video from Web Elements -> Is Displayed Section no longer available"
### What happened?

First: Thanks for all the hard work and docs!

While reading up on how elements are displayed I noticed that, for me, the linked video shows on YouTube as "This video isn't available anymore".

- Section in docs: https://www.selenium.dev/documentation/webdriver/elements/information/#is-displayed
- Link from docs: [impossibility of covering all potential conditions](https://www.

[2022-06-21 08:41] Hidalgo71 opened #1054 "Hub Is Not Starting[🐛 Bug]:"
### What happened?

`java -jar selenium-server-standalone.jar -role hub` is not working for me, it gives an error.
I'm trying a different method for standup Grid: `java -jar selenium-server-4.2.2.jar standalone` works, but I can't use a config like
`java -jar selenium-server-4.2.2.jar standalone [options]`
or
`java -jar selenium-server-4.2.2.jar standalone -hubConfig hubconfig.json`

### What brow

[2022-06-21 08:42] diemol commented on #1054
@Hidalgo71 Grid 4 is a complete new implementation and while most of the previous configs can be mapped, they need to be rewritten. Please have a look at the docs.
https://www.selenium.dev/documentation/grid/

[2022-06-21 08:42] #1054 closed, assigned to nobody

[2022-06-21 08:46] Hidalgo71 commented on #1054
Thank you for your fast and straightforward help.

[2022-06-23 11:31] himanshu-sin opened #1055 "[🐛 Bug]: [Documentation] : Javascript code snippet is missing for Mouse Events"
### What happened?

**Steps:**

1.Navigate to https://www.selenium.dev/documentation/webdriver/actions_api/mouse/
2.Click on Javascript tab for any mouse event .

**Actual Result:**
Sample javascript code is missing

**Expected Result:**
Sample Javascript code should be present.

### What browsers and operating systems are you seeing the problem on?

Browser : Chrome
OS : MAC

[2022-06-23 11:35] diemol commented on #1055
Would you like to send a PR to include the code?

[2022-06-23 12:58] himanshu-sin commented on #1055
@diemol , I don't want to raise the PR . I am requesting if other who is well versed with javascript to raise the PR.

[2022-06-24 04:56] mahiiraaj opened #1056 "[🐛 Bug]:"
### What happened?

Clicking on python tab does not change code from java to python

### What browsers and operating systems are you seeing the problem on?

not matter what tab I click it only shows java code example.
https://www.selenium.dev/documentation/webdriver/capabilities/shared/#tabs-1-1

[2022-06-24 07:46] diemol commented on #1056
I cannot reproduce this issue, what needs to happen for this to be reproducible?

[2022-06-24 21:13] jsfehler opened #1060 "[🐛 Bug]: Python BiDi documentation contradicts source code examples"
### What happened?

At https://www.selenium.dev/documentation/webdriver/bidirectional/bidi_api/
The python version for the example `Listen to console.log events` uses the Log class directly.

The source code at https://github.com/SeleniumHQ/selenium/blob/9de853d91adeca219d8230fe73ca7e579f769999/py/selenium/webdriver/common/log.py

Specifies `This class is not to be used directly and should be used

[2022-06-27 15:29] diemol commented on #975
@pallavigitwork I saw you sending some PRs, do you think you can also send PRs for this, please?

[2022-06-28 05:32] rpallavisharma commented on #975
Sure, i will do this.

[2022-07-06 07:29] diemol opened #1070 "[🐛 Bug]: Shadow DOM docs"
### What happened?

We do not have any docs about Shadow DOM. I'd be nice to add a section and some examples.

### What browsers and operating systems are you seeing the problem on?

The ones that support shadow DOM

[2022-07-11 14:52] titusfortner opened #1072 "Add language installationrequirements"
Based on a recent request in Selenium Slack, this page should also include links/info for language installation & probably minimum versions (or a link to where minimum version can be found in repo).

https://www.selenium.dev/documentation/webdriver/getting_started/install_library/

[2022-07-12 16:10] CViniciusSDias opened #1074 "[🚀 Feature]: Add PHP code examples"
### Feature and motivation

There are code examples for some languages in the documentation and PHP has a great Selenium integration using [php-webdriver](https://github.com/php-webdriver/php-webdriver).

The PHP examples should be added to the documentation.

[2022-07-12 16:32] diemol commented on #1074
Not really because we do not provide docs and examples for other languages different to the ones we provide officially. Ideally, those examples should be created by that project in their documentation.

[2022-07-12 16:32] #1074 closed, assigned to nobody

[2022-07-17 16:34] titusfortner opened #1077 "Shared capabilities"
This is not what this capability does: https://www.selenium.dev/documentation/webdriver/capabilities/shared/#setwindowrect

https://w3c.github.io/webdriver/#capabilities

[2022-07-18 22:33] kool79 opened #1078 "[🐛 Bug]: Documentation example for BiDirectional API is not full"
### What happened?

Open
https://www.selenium.dev/documentation/webdriver/bidirectional/bidi_api_remotewebdriver/
and look into example for Register Basic Auth on java.
Example contains variable devToolsAtomicReference which is not defined in example. See:

![scr_2022_07_19T01_29_04](https://user-images.githubusercontent.com/4625317/179628266-3c7162f2-efe9-45d3-b39f-c869ab73caf8.png)

### What bro

[2022-07-18 23:08] kool79 opened #1079 "[🐛 Bug]: Unclear documentation for Selenium Grid Router"
### What happened?

In a [documentation for Router](https://www.selenium.dev/documentation/grid/components/) we have:

For me the sentence marked with italic font is unclear:
1. How Router will recieve the event if there are no connection (see picture) between EventBus and Distributor with Router?

2.Why Router should poll Session Queue for new session requests?
why it requires "new session reques

[2022-07-20 17:34] titusfortner opened #1080 "[🚀 Feature]: Fix Twitter Summary Cards"
### Feature and motivation

Need to update the metadata on website pages to show the right image thumbnails on Twitter posts. I've done this before on other sites, but don't have time to fix right now.

[2022-07-27 07:18] diemol commented on #1080
Which website pages?

[2022-07-28 06:31] diemol commented on #725
We revamped the getting started pages, but we do not go all the way to the level of giving specific instructions on how to run a script because there are many different ways to do that depending on the language, and Selenium itself is not a single binary like the example you mention. That is why we consider this as done.

https://www.selenium.dev/documentation/webdriver/getting_started/

[2022-07-28 06:31] #725 closed, assigned to nobody

[2022-07-28 06:41] diemol commented on #1052
Link needs to be replaced with https://www.youtube.com/watch?v=LAD_XPGP_kk

[2022-07-28 08:17] jags14385 commented on #927
@diemol  Can I pick this issue ?

[2022-07-28 08:28] diemol commented on #961
Download link for Chrome/Chromium should be replaced with https://chromedriver.chromium.org/downloads

[2022-07-28 08:33] jamesmortensen opened #1087 "[🐛 Bug]: Actions API moveByOffset is not clear on the directions of movement with the X,Y input arguments"
### What happened?

I had a lot of confusion when I was first learning to use moveByOffset. To fully understand, I did a series of small experiments to understand how the movement around the screen occurs.  I now understand that a positive X value moves the mouse to the right of its current position, while a positive Y value moves down.

To make it more clear, I propose adding the following note:

[2022-07-28 09:00] #961 closed, assigned to nobody

[2022-07-28 09:01] diemol commented on #959
Closed via #1085

[2022-07-28 09:06] #1077 closed, assigned to nobody

[2022-07-28 09:13] diemol commented on #959
Wrongly closed.

[2022-07-28 09:13] diemol commented on #1052
Fixed via #1085

[2022-07-28 09:13] #1052 closed, assigned to nobody

[2022-07-28 09:15] #927 closed, assigned to nobody

[2022-07-28 09:20] #1087 closed, assigned to nobody

[2022-07-28 12:59] #993 closed, assigned to nobody

[2022-07-28 13:10] jamesmortensen opened #1096 "[🐛 Bug]: The sample for SeleniumJS has a typo in it that prevents it from executing"
### What happened?

On the page:  https://www.selenium.dev/selenium/docs/api/javascript/index.html

Under Usage:

[code]

`await driver.findElement(By.name('q'));.sendKeys('webdriver', Key.RETURN);`

There is a `.` right after the semicolon.

### What browsers and operating systems are you seeing the problem on?

Chrome latest on Mac M1, but I don't think it matters.

[2022-07-29 11:02] jags14385 commented on #1059
Can I pick this issue up ?

[2022-07-29 11:10] diemol commented on #1059
Sure, go for it!

[2022-07-30 20:29] jags14385 commented on #654
Can I pick this up ?

[2022-07-31 07:01] harsha509 commented on #1096
Hi @jamesmortensen,

The current documentation is generated with JS-dossier and generating docs with it now is hard as the package is not maintained anymore.

JS API docs needs to be updated, but It may take a while as am moving API docs to JSHint/typedoc!

Thanks,
Harsha

[2022-07-31 07:02] harsha509 commented on #1096
Will attach to existing issue!
https://github.com/SeleniumHQ/selenium/issues/10185

[2022-07-31 07:02] #1096 closed, assigned to nobody

[2022-07-31 12:06] jags14385 commented on #1080
Do you mean this @titusfortner
![Screen Shot 2022-07-31 at 5 35 59 pm](https://user-images.githubusercontent.com/1705624/182025567-17fac13a-13a5-4d60-b402-b3b52e938e1e.png)

[2022-07-31 13:15] #1059 closed, assigned to nobody

[2022-07-31 14:02] jags14385 commented on #1080
If this the case, I can pick this up @diemol @titusfortner  ?

[2022-08-01 08:59] diemol commented on #654
Sure, @jags14385, go for it!

[2022-08-02 02:28] jags14385 opened #1098 "[🐛 Bug]: Hugo is not installed in Gitpod, when spinning up Selenium docs"
### What happened?

Every time I reopen my Gitpod workspace, I need to do `brew install hugo` before I can run `hugo server`

### What browsers and operating systems are you seeing the problem on?

on Gitpod.io

[2022-08-02 10:10] diemol commented on #1098
If you reopen the same workspace, you probably need to do it always if the first time it did not work. You should try to open a complete new workspace.

[2022-08-04 02:02] jags14385 commented on #1098
Okay. Will give it a go and let you know the results

[2022-08-04 03:31] jags14385 commented on #1098
Yes, it works . Thanks @diemol !! . Closing this issue.

[2022-08-04 03:31] #1098 closed, assigned to nobody

[2022-08-16 13:51] nadvolod opened #1122 "[🚀 Feature]: Update selenium js docs to have a working code example at the end"
### Feature and motivation

I'm trying to help a customer and myself get up and running with selenium in JS. Going through the setup documentation and it's good. After the ["First Script"](https://www.selenium.dev/documentation/webdriver/getting_started/first_script/) step, it would be nice to have a link to an actual repo that runs. Instead, I find myself having to copy and paste code and setup a

[2022-08-16 13:54] diemol commented on #1122
You can click on the link at the bottom right to get to the repository and full example.

![image](https://user-images.githubusercontent.com/5992658/184897141-8cfcf17a-1dc6-42aa-ab21-7019fa360753.png)

If you were looking for something else, please let me know and I can reopen this.

[2022-08-16 13:54] #1122 closed, assigned to nobody

[2022-08-16 13:59] nadvolod commented on #1122
@diemol thanks man. Yea, that's working 👍 Maybe an upgrade could be to also add a link that says "run in Gitpod" and have the code run there? Avoids having to download and install stuff.

[2022-08-16 15:06] diemol commented on #1122
I'd love to get a PR for that!

[2022-08-18 11:13] diemol commented on #933
What is left? What should I compare to track this?

[2022-08-19 08:45] #654 closed, assigned to nobody

[2022-08-19 10:58] diemol commented on #906
@titusfortner is there a place where we can get this information?

[2022-08-19 10:59] diemol commented on #81
@wcmcgee maybe you can help us with this, please?

[2022-08-19 11:07] diemol commented on #815
I believe the Python bindings need to make some changes to have this working. I will leave this open until we are able to offer this.

[2022-08-19 11:13] diemol commented on #800
I am guessing the example was copied and pasted from https://github.com/SeleniumHQ/selenium/blob/41dce806c9ac825b69da149dad4725e78f5adda1/py/test/selenium/webdriver/common/bidi_tests.py#L65, let me figure that one out and get back to you all.

[2022-08-19 11:25] diemol commented on #934
This was implemented by @bonigarcia and I just updated the Wiki.

@titusfortner can you please if the Ruby instructions are correct?
https://github.com/SeleniumHQ/selenium/wiki/Releasing-Selenium#ruby

[2022-08-19 11:25] #934 closed, assigned to nobody

[2022-08-19 11:31] diemol commented on #966
Closing as we did not get more information.

[2022-08-19 11:31] #966 closed, assigned to nobody

[2022-08-19 11:37] diemol commented on #1056
Closing as we did not get more information.

[2022-08-19 11:37] #1056 closed, assigned to nobody

[2022-08-19 15:03] diemol commented on #1055
@harsha509 do you know how these ones can be implemented?
- https://www.selenium.dev/documentation/webdriver/actions_api/mouse/#back-click
- https://www.selenium.dev/documentation/webdriver/actions_api/mouse/#forward-click

[2022-08-19 17:53] wcmcgee commented on #81
@diemol going to be doing this as part of the brand refresh that Petre is working on, but let me see what I can cobble together in the short term.

[2022-08-19 18:07] wcmcgee commented on #81
@diemol I'm looking at adding a new directory for `brand_guidelines` and I think I know how to do it but don't want to muck anything up. Can we pair up for a quick Zoom to walk through this?

[2022-08-21 07:13] harsha509 commented on #1055
Hi @diemol,

I have added support in JS bindings with commit https://github.com/SeleniumHQ/selenium/commit/845e47d43f03d6638ae550c805235defbb69c0d9

Added code sample here
https://www.selenium.dev/documentation/webdriver/actions_api/mouse/#back-click
https://www.selenium.dev/documentation/webdriver/actions_api/mouse/#forward-click

_**NOTE**_: The tests are skipped as the code sample depends on th

[2022-08-21 15:14] symonk commented on #815
we have some limitations right now that I need to sit down and figure out, mostly `async` limitations that get in the way of alot of this stuff (network interception et al).  Will investigate it after vacation and see if I can put together what needs to be done to get it working but it's non trivial and likely a substancial amount of work but definitely something we need to prioritise as it will e

[2022-08-22 07:53] diemol commented on #1055
Thank you!

[2022-08-22 10:18] diemol commented on #1055
We still have some code examples to complete, but there is progress.

[2022-08-22 10:19] diemol commented on #870
@luisfcorreia do you know someone who wants to help us contribute to this?

[2022-08-22 10:19] diemol commented on #868
@luisfcorreia do you know someone who wants to help us contribute to this?

[2022-08-22 10:19] diemol commented on #867
@luisfcorreia do you know someone who wants to help us contribute to this?

[2022-08-22 10:19] diemol commented on #864
@luisfcorreia do you know someone who wants to help us contribute to this?

[2022-08-22 10:19] diemol commented on #866
@luisfcorreia do you know someone who wants to help us contribute to this?

[2022-08-22 11:18] diemol commented on #1033
@titusfortner what is the content you were thinking for https://www.selenium.dev/documentation/webdriver/drivers/?

[2022-08-22 11:49] #1078 closed, assigned to nobody

[2022-08-22 11:50] diemol commented on #1078
Fixed the links that show the code, and you can click on
![image](https://user-images.githubusercontent.com/5992658/185914525-44791555-62b4-4730-ab02-1447e52564e5.png)

to see the full code example.

[2022-08-22 11:54] diemol commented on #959
Progress has been made but this is still missing
https://www.selenium.dev/documentation/webdriver/elements/information/#attributes-and-properties

[2022-08-22 11:58] diemol commented on #975
Thank you, @pallavigitwork!

https://www.selenium.dev/documentation/webdriver/additional_features/fileupload/

[2022-08-22 11:58] #975 closed, assigned to nobody

[2022-08-22 16:01] diemol commented on #944
Which content are you missing? The page has now content but not sure what the content was when you checked it.

I agree. We "just" need more help from the community to improve these things.

[2022-08-23 23:13] jlafleur93 opened #1143 "[🐛 Bug]: Getting Started Open Browser starter code"
### What happened?

https://www.selenium.dev/documentation/webdriver/getting_started/open_browser/
1) Open Link
2) Click JavaScript on the code samples
3) You can notice that the starter code includes suite tests
4) if you run this as your code it will not run either

I wouldn't mind PRing this, but I was wondering where would I include new files for the starter code on this page?

### What browse

[2022-08-24 03:52] harsha509 commented on #1143
Hi @jlafleur93 ,

Thank you for raising an issue. I believe the code samples are precise!

You need to follow the below steps to run the tests:
1. Install `selenium-webdriver `via npm
2. Install `chromedriver` via npm
3. Run tests with the command `mocha <testfile.js>`

looks like we need to add docs for running code samples, if you'd like to help us, can you send a PR on the instructions to run t

[2022-08-24 19:19] Dor-bl commented on #1143
I think users should first refer to the [Install Library](https://www.selenium.dev/documentation/webdriver/getting_started/install_library/) page, where they can find the 1st step.
regarding docs for installing chrome driver via npm, something we should consider adding in the [Install Drivers](https://www.selenium.dev/documentation/webdriver/getting_started/install_drivers/) page

[2022-08-24 19:23] Dor-bl commented on #1070
@diemol Should be added to the [Finders](https://www.selenium.dev/documentation/webdriver/elements/finders/) page?

[2022-08-24 19:47] Dor-bl opened #1144 "[🐛 Bug]: Step 5: Rebase seems to not work"
### What happened?

on the  [Contributing page](https://www.selenium.dev/documentation/about/contributing/)
while trying to execute step 5: Rebase the below code doesn't work, at least for me.
`% git fetch upstream`
`% git rebase upstream/trunk`

while using the below does work:
`% git fetch origin`
`% git rebase origin/trunk`

is it just me or others who experience this issue and need to update t

[2022-08-26 12:40] JulienBreton opened #1148 "[🐛 Bug]: The search doesn't work on https://www.selenium.dev"
### What happened?

1. Go to https://www.selenium.dev/documentation/
2. In the search field ("Search this site...) type Wait
3. Press entrer

Result :
The search results are empty and there is an error in the consol :

`js@3:8 Uncaught TypeError: Cannot read properties of null (reading '__k')
    at Ae (js@3:8:18218)
    at js@3:8:107254
    at ?q=search:19:30`

![search_site_selenium](https://use

[2022-08-27 17:54] Dor-bl commented on #1148
This repro for all search input

[2022-08-28 05:34] Dor-bl commented on #1148
Fixed by recent updates to docsy and Hugo made by @diemol
The issue can be closed

[2022-08-28 05:42] #1148 closed, assigned to nobody

[2022-08-29 11:52] #1144 closed, assigned to nobody

[2022-08-29 11:53] diemol commented on #1144
In general `upstream` is whatever origin the repository has. Nowadays, `origin` seems to be more common. I just updated the docs.

[2022-08-29 13:09] #912 closed, assigned to nobody

[2022-08-29 14:26] diemol commented on #1079
Good catch, @kool79! Seems we updated the code and the diagram, but not the docs. Just pushed something to fix that.

[2022-08-29 14:27] #1079 closed, assigned to nobody

[2022-08-29 18:16] Dor-bl commented on #1144
Cool, thanks for the info @diemol!

[2022-08-29 19:07] ollie-iterators commented on #906
This is the URL that I mentioned in the original issue: https://www.lambdatest.com/blog/selenium4-w3c-webdriver-protocol/

[2022-08-30 08:46] diemol commented on #1143
@jlafleur93 I do not understand what is missing here. That file is part of a test suite placed here https://github.com/SeleniumHQ/seleniumhq.github.io/tree/trunk/examples/javascript, which also runs in GitHub actions.

What are you missing in the docs?

[2022-08-30 08:51] diemol commented on #1070
@Dor-bl Yes. Ideally at the end of the page.

My idea was just to copy @titusfortner's post https://titusfortner.com/2021/11/22/shadow-dom-selenium.html

[2022-08-31 13:11] JessNah opened #1155 "[🐛 Bug]: Can't Capture Network API Fetch response using JavaScript"
### What happened?

Hi, I've seen that it is possible to retrieve network API response body's using Selenium and Chrome DevTools.
I have the goal of retrieving the response body strings from API requests such as those that can be seen over the Chrome browser Network tab.
I do not intend to manipulate the response, I only wish to be able to extract these strings to a log.
I have made numerous effor

[2022-09-01 06:54] rpallavisharma commented on #959
@diemol I will work on this.

[2022-09-02 14:47] JessNah commented on #1155
Sorry I closed the issue because I was going to re-open a new issue as I made some progress on my original problem so my request has changed a little. Instead, just re-opened updated the details and title of the current issue.

[2022-09-05 14:55] ollie-iterators commented on #906
This is where the Actions API is described: https://w3c.github.io/webdriver/#actions

[2022-09-05 17:52] titusfortner commented on #906
After spending a lot more time in Actions class, I don't think it's possible with what we have and that we need to implement this first — https://github.com/SeleniumHQ/selenium/issues/10808

I'd like for this to be part of our next Test Automation Summit, since whatever we do should follow to some extent whatever Appium is trying to do.

As such, I'm going to close this issue as not something we c

[2022-09-05 17:52] #906 closed, assigned to nobody

[2022-09-08 15:16] N1lshui opened #1160 "[JS]: Missing documentation on running the firstscript.spec.js"
### What happened?

I'm not able to run Slenium with Javascript. I try to start my tes.js an dthere is this error

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows 10

### Selenium version

4.0.0

### What are the browser(s) and version(s) where you see this issue?

Firefox

### What are the browser driver(s) and version(s) where you see t

[2022-09-08 15:33] harsha509 commented on #1160
Hi @N1lshui ,

Thank you for raising the issue.

Yes there is a missing info in document on running the test.
To execute, please install mocha by `npm install mocha` and run test using `mocha test.js`

As this is not an issue with selenium-webdriver i will move this issue to documentation!!!

Thanks,
Sri Harsha

[2022-09-14 23:24] neobis001 opened #1167 "[🐛 Bug]:"
### What happened?

In this [site](https://www.selenium.dev/documentation/webdriver/browser/windows/#create-new-window-or-new-tab-and-switch), in the section "Switching windows or tabs", the bottom of the Python example covers up some of the documentation text. Here's a picture of it.

![text-is-cut-off](https://user-images.githubusercontent.com/10540174/190279796-04e88961-8378-451b-b4c7-964eac7e0

[2022-09-15 15:39] titusfortner commented on #1167
Thanks for raising this. We have new code that is supposed to check the contents of the tab and calculate the largest and set the height of all of them to that value. I'll figure out why it isn't detecting the content height properly.

[2022-09-15 18:43] neobis001 commented on #1167
I looked a little at it myself. I saw your [commit](https://github.com/SeleniumHQ/seleniumhq.github.io/pull/1157/commits/73e09e02bdeca1af552d5a6360c0a5d82a2f9412). I didn't know Javascript, but I did know Chrome's Inspect tool. I looked at tabpane-persist.js. I checked the "heightMap" dictionary. For the picture I sent, heightMap["tabs-1-content"] was relevant. It looked correct. Also the Math.max

[2022-09-15 19:09] titusfortner commented on #1167
yeah, but the vast majority of tabs don't need padding and I have no idea if 100 is always enough.

I also don't know JS, so I'm a bit at a loss with it. When I put a debug point in the code and loaded the page, and executed maxHeight in the console it gave me the right value, but when I let it execute from the JS file it gave me the wrong value. I have no idea why they would be different. For now

[2022-09-15 19:09] #1167 closed, assigned to titusfortner

[2022-09-18 01:28] alaahong opened #1169 "[🐛 Bug]: Miss the language switch in mobile view"
### What happened?

It's fine as below on full size view model
![image](https://user-images.githubusercontent.com/3264250/190881658-80d37c91-8357-4fa9-aefe-1023f5ec43ed.png)

But the language switch missed in mobile view
![image](https://user-images.githubusercontent.com/3264250/190881630-e9b7f223-64ef-4fbb-94d2-c5b80fd0068c.png)

Which means user might have no possible to switch local language on

[2022-09-18 13:38] titusfortner commented on #1169
Hmm, it's showing up for me on my phone.

![Screenshot_20220918-083601_Chrome](https://user-images.githubusercontent.com/777185/190904984-c562029d-d09f-41fb-bf5c-bbe3da180399.jpg)

[2022-09-18 14:36] titusfortner commented on #1169
@alaahong Looks like if you click the 2nd hamburger it will show up. Not ideal, but the option is there.
I think this is going to be an issue with the Docsy template, so we probably would need to raise it there.

<img width="483" alt="Screen Shot 2022-09-18 at 9 21 07 AM" src="https://user-images.githubusercontent.com/777185/190911835-c696b97a-3eb2-485d-b974-a79d10df8dfe.png">
<img width="492" alt

[2022-09-19 12:54] dublinsubway commented on #1160
I can tackle this.

Would it be reasonable to add a last step to run the script [here](https://www.selenium.dev/documentation/webdriver/getting_started/first_script/)?

[2022-09-19 15:41] titusfortner commented on #1169
Going to close this. You can raise an issue with Docsy if you think the iPhone implementation should be improved. Thanks.

[2022-09-19 15:41] #1169 closed, assigned to nobody

[2022-09-19 16:03] titusfortner opened #1174 "[🚀 Feature]: README files"
### Feature and motivation

Each of the 6 language directories in the example directory should contain a README including describing how a user would clone and run the the tests on their local machine.

[2022-09-19 16:03] titusfortner commented on #1160
You can add a comment at the bottom there in the JS tab for how to execute the code: https://github.com/SeleniumHQ/seleniumhq.github.io/blob/trunk/website_and_docs/content/documentation/webdriver/getting_started/first_script.en.md?plain=1#L243
(needs to be updated in all 4 language files)

Can also point people to our example repo for JS.... https://github.com/SeleniumHQ/seleniumhq.github.io/tree/

[2022-09-21 21:16] tenbits commented on #1155
The problem is, that the `CDPConnection` class is not properly implemented yet: [CDPConnection.js#L18](https://github.com/SeleniumHQ/selenium/blob/1a73c3f9f37c3f6a424fff92a7f48966c41d3cc0/javascript/node/selenium-webdriver/devtools/CDPConnection.js#L18) It doesn't return any promise. This is message-based communication, though it adds the Message ID, to retrieve later the Response Message from the

[2022-09-22 19:04] JessNah commented on #1155
@tenbits I will give this a go, I really really appreciate you taking the time to provide this example. Very helpful, thank you!

[2022-09-22 19:05] JessNah commented on #1155
@tenbits I will give this a go, I really really appreciate you taking the time to provide this example. Very helpful, thank you!

[2022-09-23 14:39] tenbits commented on #1155
I use this to monitor ([selenium-query/BrowserNetworkMonitor.ts](https://github.com/tenbits/selenium-query/blob/master/src/webdriver/network/BrowserNetworkMonitor.ts)) and intercept ([selenium-query/BrowserNetworkInterceptor.ts](https://github.com/tenbits/selenium-query/blob/master/src/webdriver/network/BrowserNetworkInterceptor.ts))  requests.  You can take and modify those classes for your initi

[2022-09-26 01:21] Sabareh opened #1178 "[🌍 Translation]:"
### What needs to be translated

Hey,
I was wondering if the documentation can be transferred to Swahili.
Regards,
Victor Oketch Sabare

[2022-09-26 17:03] #1178 closed, assigned to nobody

[2022-09-28 07:01] jishuge334 opened #1181 "[🐛 Bug]: DeprecationWarning: executable_path has been deprecated, please pass in a Service object browser = webdriver.Chrome(path"
### What happened?

我不知道我的路径哪里出了问题，但是当我运行代码的时候，也能打开网页，也不会弹出去，就不知道我的路径是什么问题

### What browsers and operating systems are you seeing the problem on?

谷歌浏览器
![2F07BAKJ0P` EQ_WTD9UQ%O](https://user-images.githubusercontent.com/114509708/192710455-2386fb56-f9f5-4312-9a54-7d7eba9896c0.png)

[2022-09-28 17:33] #1155 closed, assigned to nobody

[2022-09-29 20:29] jamesmortensen opened #1183 "[🚀 Feature]: Add James Mortensen to the list of docker-selenium committers on the website"
### Feature and motivation

Recently, I've become a committer on docker-selenium.  Is it possible to add me to the website under the docker-selenium committers?

**Page:**
https://www.selenium.dev/project/structure/#docker_selenium_committers

**Location:**
https://github.com/SeleniumHQ/seleniumhq.github.io/blob/trunk/website_and_docs/content/project/structure/_index.html

**GitHub API Profile:**

[2022-09-30 22:46] dublinsubway commented on #1160
There already is a link to see the code on GitHub at the bottom of the tab.
![image](https://user-images.githubusercontent.com/61555192/193363367-32834718-c433-415b-a6f1-3c28244b4c71.png)
Do you think it's not enough?

I put the text in other languages in plain English as I, unfortunately, lack language skills, but since quite a chunk of Japanese page is in English anyway, it's acceptable, hopeful

[2022-10-04 12:42] harsha509 commented on #1183
Hi @jamesmortensen ,

Its done! :slightly_smiling_face:

Thank you for the work being done to docker selenium!

https://www.selenium.dev/project/structure/#docker_selenium_committers

Thanks,
Harsha

[2022-10-04 12:42] #1183 closed, assigned to nobody

[2022-10-06 09:46] alaahong commented on #1181
Hi,

You can follow below guide on first script, seems you just miss the chrome path
https://www.selenium.dev/zh-cn/documentation/webdriver/getting_started/first_script/#1-%E4%BD%BF%E7%94%A8%E9%A9%B1%E5%8A%A8%E5%AE%9E%E4%BE%8B%E5%BC%80%E5%90%AF%E4%BC%9A%E8%AF%9D

[2022-10-12 14:39] diemol commented on #1181
Closing as we did not get more information.

[2022-10-12 14:39] #1181 closed, assigned to nobody

[2022-10-15 10:39] jsaponara opened #1196 "[🐛 Bug]: missing word"
### What happened?

"have had to rely on with all of its frustrations" is missing something.  maybe CDP?
at https://www.selenium.dev/documentation/webdriver/bidirectional/

### What browsers and operating systems are you seeing the problem on?

this is a docs bug.

[2022-10-17 04:33] pujagani commented on #1196
@jsaponara Yes, you are right. Thank you for catching that. Would you like to help by contributing to our docs to make the fix? Contributions are always welcome!

[2022-10-17 09:30] diemol commented on #1196
PR was merged, closing this.

[2022-10-17 09:30] #1196 closed, assigned to nobody

[2022-10-17 14:00] bennypi opened #1199 "[🐛 Bug]: Cannot click button when using Bootstrap and HTML-details"
### What happened?

Selenium can not click on a button altough the button is visible.
A demo project can be found here: https://github.com/bennypi/selenium-4-with-html-details
In this demo project, spring boot 2.7, selenium 4.5.0 and testcontainers 1.17.5 is used.
The application consists of a simple HTML page that shows text that the user can send from an input field inside of a form.
There is a

[2022-10-17 14:03] diemol commented on #1199
You need to check if there is an overlay caused by another element. Also, please create this issue in the Selenium repo: https://github.com/SeleniumHQ/selenium, this is the documentation repo.

[2022-10-17 14:03] #1199 closed, assigned to nobody

[2022-10-17 14:14] bennypi commented on #1199
Sorry for using the wrong reppository. I created a new issuer here with a screenshot attached: https://github.com/SeleniumHQ/selenium/issues/11136

[2022-10-17 15:57] titusfortner opened #1200 "[🚀 Feature]: Update Headless"
### Feature and motivation

* Update documentation & examples for headless with new `--headless=chrome` details
* Write blog post in preparation for 4.6

[2022-10-17 16:04] titusfortner opened #1201 "[🚀 Feature]: Selenium Manager"
### Feature and motivation

* Write Blog post before 4.6. Ideas:
    * beta release
    * Limited to Firefox/Chrome/Edge
    * No IE Driver snap support, no M1 support
    * Does not affect existing implementations
    * Delete driver manager / drivers in PATH and it should still "just work"
    * Discuss next steps
    * Link to readme, but no implementation details, yet
* Remove existing driver

[2022-10-26 22:03] codejunction opened #1208 "[🚀 Feature]: Status Code for fail fast approach"
### Feature and motivation

generate status code as a driver property
Test Scenarios:
1. testing page redirection
2. unauthorized
3. server(backend) failure

[2022-10-26 22:09] #1208 closed, assigned to nobody

[2022-11-02 10:38] diemol commented on #944
Closing as we did not get more information.

[2022-11-02 10:38] #944 closed, assigned to nobody

[2022-11-02 10:43] diemol commented on #959
Fixed through https://github.com/SeleniumHQ/seleniumhq.github.io/pull/1177, thank you @pallavigitwork!

[2022-11-02 10:43] #959 closed, assigned to nobody

[2022-11-02 10:55] diemol commented on #982
This has been fixed directly in the docker selenium repository, instructions are there now.

Related PR is https://github.com/SeleniumHQ/docker-selenium/pull/1711

[2022-11-02 10:55] #982 closed, assigned to nobody

[2022-11-02 11:05] rpallavisharma commented on #959
Thank you @diemol

[2022-11-02 11:55] diemol commented on #1072
The current page has now information about minimum version and also where to find it in the repository. It does not include a link for language installation, and I spent a while looking for links and they all have either outdated information or incomplete information.

I'd say we can close this for now and the language installation part ideally should be done by the users themselves.

[2022-11-02 11:55] #1072 closed, assigned to nobody

[2022-11-02 11:58] diemol commented on #1143
Closing this as we never got more information.

[2022-11-02 11:58] #1143 closed, assigned to nobody

[2022-11-03 09:08] #870 closed, assigned to nobody

[2022-11-06 15:40] Moogamouth opened #1216 "[🐛 Bug]: TypeError: command.setParameter is not a function"
### What happened?

The selenium-webdriver NPM module seems to be trying to run a non existent function when I run the function
[code]
Where
[code]
It returns
[code]

### What browsers and operating systems are you seeing the problem on?

Chrome 107.0.5304.88, Windows 10

[2022-11-06 18:24] diemol commented on #1216
Please create this issue in the https://github.com/SeleniumHQ/selenium repository. This repository is the documentation.

[2022-11-06 18:24] #1216 closed, assigned to nobody

[2022-11-09 20:48] luisfcorreia commented on #864
Translated via #1222

[2022-11-09 20:48] #864 closed, assigned to nobody

[2022-11-10 17:44] ValzRon opened #1224 "[🐛 Bug]: Unable to execute request for an existing session: Strategy is not implemented: css selector"
### What happened?

Im currently running Selenium Grid 4 (v4.5.0) and trying to get it running with Appium 2.0 via Relay.

**Here is the snippet:**

[code]

**This will result in -->**
org.openqa.selenium.ScriptTimeoutException: Unable to execute request for an existing session: Strategy is not implemented: css selector
For documentation on this error, please visit: https://selenium.dev/exceptions

[2022-11-10 22:55] titusfortner commented on #1224
Since "ID" is no longer supported by W3C specification, Selenium maintains w3c compliance and backwards compatibility with the `By.Id` locator by automatically converting it to CSS, which Appium doesn't support. There should be a way to use an Appium locator that doesn't convert ID to CSS.

[2022-11-10 22:55] #1224 closed, assigned to nobody

[2022-11-14 01:01] Archer-Pu opened #1227 "[🌍 Translation]: Report a security vulnerability"
### What needs to be translated

Report a security vulnerability

[2022-11-14 01:02] #1227 closed, assigned to nobody

[2022-11-25 12:01] user-2608 opened #1242 "[🐛 Bug]: selenium popup alert is not working [onclick]"

[2022-11-25 17:12] JulienBreton opened #1243 "[🐛 Bug]: Should we use a lambda expression in the example in Java for FluentWait ?"
### What happened?

[In the page explaining the Waits, in the FluentWait part the example in Java contains :](https://www.selenium.dev/documentation/webdriver/waits/#fluentwait)
[code]

but when I use it [Sonar Lint](https://www.sonarsource.com/products/sonarlint/) says :

Code smell Major
Before Java 8, the only way to partially support closures in Java was by using anonymous inner classes. But t

[2022-11-25 21:08] titusfortner commented on #1242
This is not the best place to get help with problems like this.

💬 Please ask questions at:

📫 The [Selenium user group](https://groups.google.com/forum/#!forum/selenium-users)
📮 [StackOverflow](https://stackoverflow.com/questions/tagged/selenium)
🗣 Our [IRC/Slack/Matrix channels](https://www.selenium.dev/support/) where the community can help you as well

[2022-11-25 21:08] #1242 closed, assigned to nobody

[2022-11-26 06:17] titusfortner commented on #1243
Sounds good. Can you make the PR?

[2022-11-26 07:08] GregoryShen opened #1244 "[🐛 Bug]: There is a typo in "File downloads" page"
### What happened?

There is a type in "File downloads" page:

![File donwloads](https://user-images.githubusercontent.com/1592347/204076807-514f348e-2e76-42e5-8b53-41903dc49ff5.png)

Guess should be "then" instead of "the"

### What browsers and operating systems are you seeing the problem on?

Chrome and Win 10

[2022-11-26 11:30] JulienBreton commented on #1243
Yes I will try to do it.

[2022-11-26 16:13] titusfortner commented on #1244
please submit a PR to fix?

[2022-11-26 16:16] #1243 closed, assigned to nobody

[2022-11-26 16:16] titusfortner commented on #1243
Thanks!

[2022-11-26 20:25] jlucartc opened #1246 "[🐛 Bug]: Ruby code example in Browser Options doesn't work"
### What happened?

Ruby code example from [documentation](https://www.selenium.dev/documentation/webdriver/drivers/options/) didn't run as expected.

### Code example from documentation

[code]

### Expected results
Opening browser and visiting webpage

### Current results
[code]
### My Fix
Changing the original code to the code below fixed the issue. Seems like the Ruby API wasn't updated in the

[2022-11-26 21:18] titusfortner commented on #1246
Yes, this should be `Options` not `Capabilities` now. The correct code here is:

[code]

[2022-11-27 01:21] rosemarypro opened #1247 "[🐛 Bug]: The browser is automatically closed after the code is executed"
### What happened?

edge 107.0.1418.56  and above 4.6.0   The browser is automatically closed after the code is executed

### What browsers and operating systems are you seeing the problem on?

edge 107.0.1418.56  and above 4.6.0   The browser is automatically closed after the code is executed

[2022-11-27 14:59] jlucartc commented on #1246
@titusfortner It seems that both `Selenium::Webdriver::Options` and `Selenium::WebDriver::Remote::Capabilities` were meant to setup the browser startup configuration, according to the [rubydocs](https://www.rubydoc.info/gems/selenium-webdriver/Selenium/WebDriver/Remote/Capabilities). Is there any document showing the current API's architecture/design, specifying what is currently being used/develo

[2022-11-27 16:50] titusfortner commented on #1246
"Capabilities" are the old way that we need to deprecate/clean up. "Options" are the new way that are supported going forward.

tbh, I've been avoiding this work because the Ruby capabilities code is my nemesis and every time I make changes I do something wrong. :)